<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.user.dao.AddressDao">
	<resultMap type="com.jingyunbank.etrade.user.entity.AddressEntity" id="AddressEntityResultMap">
		<id column="id" property="ID" jdbcType="CHAR"/>
		<result column="uid" property="UID" jdbcType="CHAR"/>
		<result column="name" property="name" jdbcType="VARCHAR"/>
		<result column="country" property="country" jdbcType="INTEGER"/>
		<result column="province" property="province" jdbcType="INTEGER"/>
		<result column="city" property="city" jdbcType="INTEGER"/>
		<result column="address" property="address" jdbcType="VARCHAR"/>
		<result column="zipcode" property="zipcode" jdbcType="VARCHAR"/>
		<result column="receiver" property="receiver" jdbcType="VARCHAR"/>
		<result column="mobile" property="mobile" jdbcType="VARCHAR"/>
		<result column="telephone" property="telephone" jdbcType="VARCHAR"/>
		<result column="defaulted" property="defaulted" jdbcType="TINYINT"/>
		<result column="valid" property="valid" jdbcType="TINYINT"/>
		<result column="country_name" property="countryName" jdbcType="VARCHAR"/>
		<result column="province_name" property="provinceName" jdbcType="VARCHAR"/>
		<result column="city_name" property="cityName" jdbcType="VARCHAR"/>
	</resultMap>
	<sql id="base_column_list">
		id ID,uid UID,name,country,province,city,address,zipcode,receiver,mobile,telephone,defaulted,valid
	</sql>
	<sql id="base_condition">
		<if test="entity.UID!=null and entity.UID!=''">
		    and uid=#{entity.UID}
		 </if>
		 <if test="entity.ID!=null and entity.ID!=''">
		 	and id=#{entity.ID}
		 </if>
		 <if test="entity.name!=null and entity.name!=''">
		 	and name=#{entity.name}
		 </if>
		 <if test="entity.country!=null and entity.country!=''">
		 	and country=#{entity.country}
		 </if>
		 <if test="entity.province!=null and entity.province!=''">
		 	and province=#{entity.province}
		 </if>
		 <if test="entity.city!=null and entity.city!=''">
		 	and city=#{entity.city}
		 </if>
		 <if test="entity.address!=null and entity.address!=''">
		 	and address=#{entity.address}
		 </if>
		 <if test="entity.zipcode!=null and entity.zipcode!=''">
		 	and zipcode=#{entity.zipcode}
		 </if>
		 <if test="entity.receiver!=null and entity.receiver!=''">
		 	and receiver=#{entity.receiver}
		 </if>	
		 <if test="entity.mobile!=null and entity.mobile!=''">
		 	and mobile=#{entity.mobile}
		 </if>
		 <if test="entity.telephone!=null and entity.telephone!=''">
		 	and telephone=#{entity.telephone}
		 </if>
		 <if test="entity.defaulted">
		 	and defaulted=#{entity.defaulted}
		 </if>
		 <if test="entity.valid">
		 	and valid=#{entity.valid}
		 </if>
	</sql>
	<!-- 查询 -->
	<select id="selectList" parameterType="com.jingyunbank.etrade.user.entity.AddressEntity" resultMap="AddressEntityResultMap">
		select 
			<include refid="base_column_list" />
			,c.country_name country_name 
			, p.province_name province_name
			,ct.city_name city_name
		from address u 
		LEFT JOIN country c on c.country_id=u.country
		LEFT JOIN province p on u.province=p.province_id
		LEFT JOIN city ct on u.city=ct.city_id
		 where	 1=1
		 <include refid="base_condition"></include>
		 order by u.defaulted desc
	</select>
	<!-- 分页查询 -->
	<select id="selectListRang"  resultMap="AddressEntityResultMap">
		select 
			<include refid="base_column_list" />
			,c.country_name country_name 
			, p.province_name province_name
			,ct.city_name city_name
		from address u 
		LEFT JOIN country c on c.country_id=u.country
		LEFT JOIN province p on u.province=p.province_id
		LEFT JOIN city ct on u.city=ct.city_id
		 where	 1=1
		<include refid="base_condition"></include>
		 order by u.defaulted desc
		 <if test="size!=0 and size!=null">
			 limit #{offset, javaType=LONG},#{size, javaType=LONG}
		 </if>
	</select>
	
	<!-- 新增 -->
	<insert id="insert" parameterType="com.jingyunbank.etrade.user.entity.AddressEntity">
		INSERT INTO address
		(id,uid,name,country,province,city,address,zipcode,receiver,mobile,telephone,defaulted,valid)
		VALUES
		(#{ID},#{UID},#{name},#{country},#{province},#{city},#{address},#{zipcode},#{receiver},#{mobile},#{telephone},#{defaulted},#{valid})
	
	</insert>
	
	<!-- 修改 -->
	<update id="update" parameterType="com.jingyunbank.etrade.user.entity.AddressEntity">
		update address a set 
			<if test="name!=null and name!=''">
				a.name=#{name},
			</if>
			<if test="country!=null and country!=''">
				a.country=#{country},
			</if>
			<if test="province!=null and province!=''">
				a.province=#{province},
			</if>
			<if test="city!=null and city!=''">
				a.city=#{city},
			</if>
			<if test="address!=null and address!=''">
				a.address=#{address},
			</if>
			<if test="zipcode!=null and zipcode!=''">
				a.zipcode=#{zipcode},
			</if>
			<if test="receiver!=null and receiver!=''">
				a.receiver=#{receiver},
			</if>
			<if test="mobile!=null and mobile!=''">
				a.mobile=#{mobile},
			</if>
			<if test="telephone!=null and telephone!=''">
				a.telephone=#{telephone},
			</if>
			a.id=#{ID}
		where a.id=#{ID}	
	</update>
	
	<!-- 修改是否有效 -->
	<update id="updateStatus" parameterType="com.jingyunbank.etrade.user.entity.AddressEntity">
		update address a set 
			valid = #{valid}
		where   a.uid=#{UID}
		and a.id in 
		<foreach collection="IDArray" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<!-- 修改是否默认 -->
	<update id="updateDefault" parameterType="com.jingyunbank.etrade.user.entity.AddressEntity">
		update address a set 
			defaulted = #{defaulted}
		where   a.uid=#{UID}
		<if test="ID!=null and ID!=''">
			and a.ID=#{ID}
		</if>
	</update>
	<!-- 查询数量 -->
	<select id="selectAmount" resultType="int">
		select count(1) from address where 1=1 
		<include refid="base_condition"></include>
	</select>
</mapper>
