<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.goods.dao.GoodsOperationDao">
	<!-- 封装商品信息Map -->
	<resultMap type="com.jingyunbank.etrade.goods.entity.GoodsOperationEntity"
		id="baseGoodsMap">
		<!-- 商品概要信息 -->
		<result column="gid" property="GID" />
		<result column="mid" property="MID" />
		<result column="merchantname" property="merchantName" />
		<result column="bid" property="BID" />
		<result column="brandname" property="brandName" />
		<result column="goodsname" property="name" />
		<result column="CODE" property="code" />
		<result column="tid" property="TID" />
		<result column="price" property="price" />
		<result column="promotion_price" property="promotionPrice" />
		<result column="nowprice" property="nowPrice" />
		<result column="state" property="state" />
		<result column="up_time" property="upTime" />
		<result column="down_time" property="downTime" />
		<result column="counts" property="count" />
		<result column="volume" property="volume" />
		<result column="addtime" property="addTime" />
		
		<result column="pro_flag" property="onSale" />
		<result column="pro_start" property="onSaleBeginTime" />
		<result column="pro_end" property="onSaleEndTime" />

		
		
		<result column="postage" property="postage" />
		<result column="subvolumeType" property="subVolumeType" />
		<result column="barvode" property="barCode" />
		<result column="goodsdesc" property="goodsDesc" />
		<result column="goodstitle" property="goodsTitle" />
		
		<!-- 详细信息 -->
		<result column="standard_no" property="standardNo" />
		<result column="shelf_life" property="shelfLife" />
		<result column="approve_no" property="approveNo" />
		<result column="usages" property="usage" />
		<result column="commended_user" property="commendedUser" />
		<result column="not_commended_user" property="notCommendedUser" />
		<result column="ingredients" property="ingredients" />
		<result column="food_additives" property="foodAdditives" />
		<result column="specifications" property="specifications" />
		<result column="ingredient" property="ingredient" />
		<result column="functions" property="functions" />
		<result column="note" property="note" />
		<result column="storage_methods" property="storageMethods" />
		<result column="is_gift_box" property="isGiftBox" />
		<result column="ProductionDate" property="productionDate" />
		<result column="weight" property="weight" />
		<result column="unit" property="unit" />
		<result column="factoryname" property="factoryName" />
		<result column="factoryaddr" property="factoryAddr" />
		<result column="factorytel" property="factoryTel" />
		<!-- 商品图片信息 -->
		<result column="thumb_path_1" property="thumbpath1" />
		<result column="thumb_path_2" property="thumbpath2" />
		<result column="thumb_path_3" property="thumbpath3" />
		<result column="thumb_path_4" property="thumbpath4" />
		<result column="thumb_path_5" property="thumbpath5" />
		<result column="content" property="content" />
	</resultMap>
	
	
	
	
	<!-- 插入商品 -->
	<sql id="goodsSql">
	`id`,`mid`,`bid`,`name`, `code`,`tid`,`price`,`promotion_price`, `now_price`,`state`,`up_time`,
  	`down_time`, `count`,`volume`,`addtime`,`postage`,`sub_volume_type`,`barCode`,`desc`,`title`,
  	`admin_sort`,`merchant_sort`,`expand_sort`,`record_sort`,`pro_start`,`pro_end`,`pro_flag`
	</sql>
	<insert id="insertGoods" parameterType="com.jingyunbank.etrade.goods.entity.GoodsEntity">
		INSERT INTO `goods` (<include refid="goodsSql"/>)
		VALUES(
			#{ID},#{MID},#{BID},#{name},#{code},#{tid},#{price},#{promotionPrice},#{now_price},#{state},
			#{upTime},#{downTime},#{count},#{volume},#{addTime},#{postage},#{subVolumeType},#{barCode},
			#{goodsDesc},#{goodsTitle},#{adminSort},#{merchantSort},#{expandSort},#{recordSort},
			#{onSaleBeginTime},#{onSaleEndTime},#{onSale}
			)
			
	</insert>
	<!-- 插入商品detail -->
	<sql id="goodsdetailSql">
	`id`,`gid`,`standard_no`,`shelf_life`,`approve_no`,`usage`,`commended_user`, `not_commended_user`,`ingredients`,
  	`food_additives`, `specifications`,`ingredient`,`functions`,`note`,`storage_methods`,`is_gift_box`,`production_date`,
 	 `weight`,`unit`,`factory_name`,`factory_addr`,`factory_tel`
	</sql>
	<insert id="insertGoodsDetail" parameterType="com.jingyunbank.etrade.goods.entity.GoodsDetailEntity">
		INSERT INTO `goods_detail` (<include refid="goodsdetailSql"/>)
		VALUES(#{ID},#{GID},#{standardNo},#{shelfLife},#{approveNo},#{usage},#{commendedUser},
					#{notCommendedUser},#{ingredients},#{foodAdditives},
					#{specifications},#{ingredient},#{functions},#{note},#{storageMethods},
					#{isGiftBox},#{ProductionDate},#{weight},
					#{unit},#{factoryName},#{factoryAddr},#{factoryTel}
				)
	</insert>
	<!-- 插入商品图片 -->
	<sql id="goodsImgSql">
	`id`,`gid`,`Thumb_path_1`,`Thumb_path_2`,`Thumb_path_3`,`Thumb_path_4`,
  		`Thumb_path_5`,`content`
	</sql>
	<insert id="insertGoodsImg" parameterType="com.jingyunbank.etrade.goods.entity.GoodsImgEntity">
		INSERT INTO `goods_img` (<include refid="goodsImgSql"/>) VALUES
  			(
   			#{ID},#{GID},#{thumbpath1},#{thumbpath2},#{thumbpath3},#{thumbpath4},#{thumbpath5},#{content}
  			)
	</insert>
	
	
	
	<!-- 根据商品ID查询商品信息 -->
	<sql id="selectByIdSql">
	g.id gid,g.mid MID,g.`bid` bid,g.name goodsname,g.`code` CODE,g.tid tid,g.`price` price,
	g.`promotion_price` promotion_price,g.`state` state,g.`count` counts,g.`up_time` up_time, g.`down_time` down_time,
	g.`postage` postage, g.`sub_volume_type`subvolumeType,g.`barCode` barvode,
	g.`pro_flag` pro_flag,g.`pro_start` pro_start,g.`pro_end` pro_end, g.`addtime` ADDTIME,
	g.`title` goodstitle,g.`desc` goodsdesc,
	m.`merchant_name` merchantname ,b.`name` brandname,t.`name` typename,
	
	d.`standard_no` standard_no,d.`shelf_life` shelf_life,d.`approve_no` approve_no,
	d.`usage` usages,d.`commended_user` commended_user,d.`not_commended_user` not_commended_user,
	d.`ingredients` ingredients,d.`food_additives` food_additives,d.`specifications` specifications,
	d.`ingredient` ingredient, d.`functions` functions,d.`note` note,d.`storage_methods` storage_methods,
	d.`is_gift_box` is_gift_box,d.`production_date` ProductionDate,d.`weight` weight,d.`unit` unit,
	d.`factory_name` factoryname,d.`factory_addr` factoryaddr,d.`factory_tel` factorytel,
	
	i.`Thumb_path_1` thumb_path_1,i.`Thumb_path_2` thumb_path_2,i.`Thumb_path_3` thumb_path_3,
	i.`Thumb_path_4` thumb_path_4,i.`Thumb_path_5` thumb_path_5,i.content content
	</sql>
	
	<select id="selectOne" parameterType="string" resultMap="baseGoodsMap">
		SELECT <include refid="selectByIdSql"/> 
		FROM goods g
		LEFT JOIN goods_img i ON g.id=i.gid
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_brand b ON b.id=g.bid 
		LEFT JOIN merchant m ON g.mid=m.id
		LEFT JOIN goods_type t ON t.id=g.tid
		WHERE 1=1 AND g.id= #{gid}
	</select>
	
	<!-- 修改商品 -->
	<update id="updateGoods" parameterType="com.jingyunbank.etrade.goods.entity.GoodsEntity">
	UPDATE `goods` g  SET
		<if test="MID !=null and MID != ''">
			g.`mid` = #{MID},
		</if>
		<if test="BID !=null and BID != ''">
			g.`bid` = #{BID},
		</if>
		<if test="name !=null and name != ''">
			g.`name` = #{name},
		</if>
		<if test="code !=null and code != ''">
			g.`code` = #{code},
		</if>
		<if test="tid !=null and tid != ''">
			g.`tid` = #{tid},
		</if>
		<if test="price !=null and price != ''">
			g.`price` = #{price},
		</if>
		<if test="promotionPrice !=null and promotionPrice != ''">
			g.`promotion_price` = #{promotionPrice},
		</if>
		<if test="upTime !=null and upTime != ''">
			g.`up_time` = #{upTime},
		</if>
		<if test="downTime !=null and downTime != ''">
			g.`down_time` = #{downTime},
		</if>
		<if test="count >=0">
			g.`count` = #{count},
		</if>
		<if test="postage !=null and postage != ''">
			g.`postage` = #{postage},
		</if>
		<if test="subVolumeType !=null and subVolumeType != ''">
			g.`sub_volume_type` = #{subVolumeType},
		</if>
		<if test="barCode !=null and barCode != ''">
			g.`barCode` = #{barCode},
		</if>
		<if test="goodsDesc !=null and goodsDesc != ''">
			g.`desc` = #{goodsDesc},
		</if>
		<if test="goodsTitle !=null and goodsTitle != ''">
			g.`title` = #{goodsTitle},
		</if>
		<if test="onSaleBeginTime !=null and onSaleBeginTime != ''">
			g.`pro_start` = #{onSaleBeginTime},
		</if>
		<if test="onSaleEndTime !=null and onSaleEndTime != ''">
			g.`pro_end` = #{onSaleEndTime},
		</if>
		g.`state` = #{state},g.`pro_flag` = #{onSale},g.id = #{ID}
		 WHERE id = #{ID}
	</update>
	<!-- 修改商品描述信息 -->
	<update id="updateGoodsDetail" parameterType="com.jingyunbank.etrade.goods.entity.GoodsDetailEntity">
		UPDATE `goods_detail` d  SET
		<if test="standardNo !=null and standardNo !=''">
			d.standard_no= #{standardNo},
		</if>
		<if test="shelfLife !=null and shelfLife !=''">
			d.shelf_life= #{shelfLife},
		</if>
		<if test="approveNo !=null and  approveNo !=''">
			d.approve_no= #{approveNo},
		</if>
		<if test="usage !=null and  usage !=''">
			d.usage= #{usage},
		</if>
		<if test="commendedUser !=null and commendedUser !=''">
			d.commended_user= #{commendedUser},
		</if>
		<if test="notCommendedUser !=null and notCommendedUser !=''">
			d.not_commended_user= #{notCommendedUser},
		</if>
		<if test="ingredients !=null and ingredients !=''">
			d.ingredients= #{ingredients},
		</if>
		<if test="foodAdditives !=null and foodAdditives !=''">
			d.food_additives= #{foodAdditives},
		</if>
		<if test="specifications !=null and  specifications !=''">
			d.specifications= #{specifications},
		</if>
		<if test="ingredient !=null and  ingredient !=''">
			d.ingredient= #{ingredient},
		</if>
		<if test="functions !=null and  functions !=''">
			d.functions= #{functions},
		</if>
		<if test="note !=null and  note !=''">
			d.note= #{note},
		</if>
		<if test="storageMethods !=null and  storageMethods !=''">
			d.storage_methods= #{storageMethods},
		</if>
		<if test="isGiftBox !=null and  isGiftBox !=''">
			d.is_gift_box= #{isGiftBox},
		</if>
		<if test="ProductionDate !=null and  ProductionDate !=''">
			d.production_date= #{ProductionDate},
		</if>
		<if test="weight !=null and  weight !=''">
			d.weight= #{weight},
		</if>
		<if test="unit !=null and  unit !=''">
			d.unit= #{unit},
		</if>
		<if test="factoryName !=null and  factoryName !=''">
			d.factory_name= #{factoryName},
		</if>
		<if test="factoryAddr !=null and  factoryAddr !=''">
			d.factory_addr= #{factoryAddr},
		</if>
		<if test="factoryTel !=null and  factoryTel !=''">
			d.factory_tel= #{factoryTel},
		</if>
		d.gid = #{GID} 
		WHERE d.gid = #{GID}
	</update>
	<!-- 修改商品图片 -->
	<update id="updateGoodsImg" parameterType="com.jingyunbank.etrade.goods.entity.GoodsImgEntity">
		UPDATE  `goods_img` i SET
  		<if test="thumbpath1 !=null and  thumbpath1 !=''">
			i.Thumb_path_1= #{thumbpath1},
		</if>
  		<if test="thumbpath2 !=null and  thumbpath2 !=''">
			i.Thumb_path_2= #{thumbpath2},
		</if>
  		<if test="thumbpath3 !=null and  thumbpath3 !=''">
			i.Thumb_path_3= #{thumbpath3},
		</if>
  		<if test="thumbpath4 !=null and  thumbpath4 !=''">
			i.Thumb_path_4= #{thumbpath4},
		</if>
  		<if test="thumbpath5 !=null and  thumbpath5 !=''">
			i.Thumb_path_5= #{thumbpath5},
		</if>
  		<if test="content !=null and  content !=''">
			i.content= #{content},
		</if>
	  	i.gid = #{GID}
		WHERE i.gid = #{GID}
	
	</update>
	
	<!-- 修改商品的销量和库存 -->
	<update id="updateGoodsVolume" parameterType="java.util.Map">
		UPDATE `goods` g SET
		g.`count`  = g.`count`- #{count},
  		g.`volume` =  g.`volume`+ #{count}
		WHERE g.id = #{gid}
	</update>
	
	<!-- 商品上架-->
	<update id="updateGoodsUp" parameterType="String">
		UPDATE `goods` g SET g.`state` = 1 WHERE g.id = #{gid}
	</update>
	<!-- 商品下架-->
	<update id="updateGoodsDown" parameterType="String">
		UPDATE `goods` g SET g.`state` = 0 WHERE g.id = #{gid}
	</update>
	
	<!-- 根据MID 查询所属的品牌 -->
	<select id="selectBrandsByMid" parameterType="String"  resultMap="baseGoodsMap">
		SELECT id bid,NAME brandname FROM goods_brand  WHERE MID=#{mid}
	</select>
	<!-- 查询所有的店铺 商家 -->
	<select id="selectMerchant" parameterType="String"  resultMap="baseGoodsMap">
		SELECT id mid, merchant_name merchantname  FROM merchant 
	</select>
</mapper>
