<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.goods.dao.GoodsDao">
	<!-- 封装商品信息Map -->
	<resultMap type="com.jingyunbank.etrade.goods.entity.GoodsDaoEntity"
		id="baseGoodsMap">
		<!-- 商品概要信息 -->
		<result column="gid" property="GID" />
		<result column="goodsname" property="goodsName" />
		<result column="CODE" property="goodsCode" />
		<result column="price" property="price" />
		<result column="promotion_price" property="promotionPrice" />
		<result column="nowprice" property="nowPrice" />
		<result column="counts" property="count" />
		<result column="volume" property="volume" />
		<result column="addtime" property="addTime" />
		
		<result column="pro_flag" property="onSale" />
		<result column="pro_start" property="onSaleBeginTime" />
		<result column="pro_end" property="onSaleEndTime" />
		
		<result column="up_time" property="upTime" />
		<result column="down_time" property="downTime" />
		<result column="postage" property="postage" />
		<result column="subvolumeType" property="subVolumeType" />
		<result column="barvode" property="barCode" />
		<result column="goodsdesc" property="goodsDesc" />
		<result column="goodstitle" property="goodsTitle" />
		<result column="state" property="state" />
		<result column="comment" property="comment" />
		
		<!-- 详细信息 -->
		<result column="standard_no" property="standardNo" />
		<result column="shelf_life" property="shelfLife" />
		<result column="approve_no" property="approveNo" />
		<result column="usages" property="usage" />
		<result column="commended_user" property="commendedUser" />
		<result column="not_commended_user" property="notCommendedUser" />
		<result column="ingredients" property="ingredients" />
		<result column="food_additives" property="foodAdditives" />
		<result column="specifications" property="specifications" />
		<result column="ingredient" property="ingredient" />
		<result column="functions" property="functions" />
		<result column="note" property="note" />
		<result column="storage_methods" property="storageMethods" />
		<result column="is_gift_box" property="isGiftBox" />
		<result column="production_date" property="productionDate" />
		<result column="weight" property="weight" />
		<result column="unit" property="unit" />
		<result column="factoryname" property="factoryName" />
		<result column="factoryaddr" property="factoryAddr" />
		<result column="factorytel" property="factoryTel" />
		<!-- 商品图片信息 -->
		<result column="thumb_path_1" property="thumbpath1" />
		<result column="thumb_path_2" property="thumbpath2" />
		<result column="thumb_path_3" property="thumbpath3" />
		<result column="thumb_path_4" property="thumbpath4" />
		<result column="thumb_path_5" property="thumbpath5" />
		<result column="content" property="content" />
		<!-- 店铺信息 -->
		<result column="mid" property="MID" />
		<result column="merchantname" property="merchantName" />
		<result column="merchantdesc" property="merchantDesc" />
		<result column="merchantimg" property="merchantImg" />
		<!-- 品牌信息 -->
		<result column="bid" property="BID" />
		<result column="brandname" property="brandName" />
		<result column="branddesc" property="brandDesc" />
		<!--类型信息 -->
		<result column="tid" property="TID" />
		<result column="typename" property="typeName" />
	</resultMap>
	
	
	<!-- 商品条件关联的店铺信息 -->
	<resultMap type="com.jingyunbank.etrade.goods.entity.GoodsMerchantEntity"
		id="GoodsMerchantMap">
		<result column="mid" property="MID" />
		<result column="merchantname" property="merchantName" />
		<result column="merchantbrands" property="merchantBrands" />
		<result column="m_img" property="merchantImg" />
		<result column="m_desc" property="merchantDesc" />
		<result column="counts" property="goodscount" />
	</resultMap>
	<!-- 查询热门推荐商品的基本信息 -->
	<resultMap type="com.jingyunbank.etrade.goods.entity.HotGoodsEntity"
		id="hotGoodsEntity">
		<!-- 商品概要信息 -->
		<result column="gid" property="GID" />
		<result column="goodsname" property="goodsName" />
		<result column="img_path" property="imgPath" />
		<result column="weight" property="weight" />
		<result column="unit" property="unit" />
		<result column="price" property="price" />
		<result column="promotion_price" property="promotionPrice" />
		<result column="now_price" property="nowPrice" />
		<result column="thumb_path_1" property="thumbpath1" />
		<result column="pro_flag" property="onSale" />
		<!-- 品牌信息 -->
		<result column="bid" property="BID" />
		<result column="brandname" property="brandName" />
		<result column="branddesc" property="brandDesc" />
		<!--类型信息 -->
		<result column="tid" property="TID" />
		<result column="typename" property="typeName" />
		<result column="merchant_name" property="merchantName" />
	</resultMap>

	<!-- 商品图片属性 goods_img i -->
	<sql id="imgAttr">
		i.Thumb_path_1 thumb_path_1,
		i.Thumb_path_2 thumb_path_2,
		i.Thumb_path_3 thumb_path_3,
		i.Thumb_path_4 thumb_path_4,
		i.Thumb_path_5 thumb_path_5,
		i.content content,
	</sql>
	<!-- 商品详细信息  (包含商品属性 详细属性 商家 品牌 图片属性)-->
	<sql id="detailedSql">
		g.id gid,g.mid MID,g.`bid` bid,g.name goodsname,g.`code` CODE,g.tid tid,g.`price` price,
		g.`promotion_price` promotion_price,<include refid="nowprice"/>
		g.`state` state,g.`count` counts,g.`up_time` up_time, 
		g.`down_time` down_time,g.`postage` postage, g.`sub_volume_type`subvolumeType,g.`barCode` barvode,
		g.`pro_flag` pro_flag,g.`pro_start` pro_start,g.`pro_end` pro_end, g.`addtime` ADDTIME,
		g.`title` goodstitle,m.`name` merchantname ,m.`img_path` merchantimg ,b.`name` brandname,t.`name` typename,
		<include refid="imgAttr"/>
		d.`standard_no` standard_no,d.`shelf_life` shelf_life,d.`approve_no` approve_no,
		d.`usage` usages,d.`commended_user` commended_user,d.`not_commended_user` not_commended_user,
		d.`ingredients` ingredients,d.`food_additives` food_additives,d.`specifications` specifications,
		d.`ingredient` ingredient, d.`functions` functions,d.`note` note,d.`storage_methods` storage_methods,
		d.`is_gift_box` is_gift_box,d.`production_date` production_date,d.`weight` weight,d.`unit` unit,
		d.`factory_name` factoryname,d.`factory_addr` factoryaddr,d.`factory_tel` factorytel,COUNT(c.id) COMMENT
	</sql>
	
	<!-- 根据促销标志算出当然价格 -->
	<sql id="nowprice">
		CASE g.pro_flag WHEN '1' THEN g.promotion_price WHEN '0'  THEN g.price ELSE g.price END AS nowprice,
	</sql>
	<!-- 商品概要信息查询字段 用于多条件搜索和商品展示 -->
	<sql id="commentGoods">
		g.id gid, g.name goodsname,g.title goodstitle,d.weight weight,d.unit unit,g.price price ,
		g.promotion_price promotion_price,
		<include refid="nowprice"/>
		i.Thumb_path_1 thumb_path_1,g.volume volume,g.addtime addtimes,
		g.pro_flag pro_flag, g.pro_start pro_start, g.pro_end pro_end,
		COUNT(c.id) comment
	</sql>

	<!-- 根据名称like查询商品 -->
	<select id="selectGoodsByLikeName" parameterType="java.util.Map"
		resultMap="baseGoodsMap">
		SELECT
		<include refid="commentGoods" />
		FROM GOODS g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_img i ON g.id = i.gid
		LEFT JOIN COMMENT c ON c.gid=g.id
		WHERE 1 = 1 AND g.state=1  
		AND g.name LIKE CONCAT(CONCAT('%', #{goodsname}), '%')
		GROUP BY g.id
		LIMIT #{from} , #{size}
	</select>

	<!-- 查询品牌 -->
	<select id="selectBrands" resultMap="baseGoodsMap">
		SELECT b.id bid, b.name
		brandname, b.desc branddesc FROM goods_brand b
	    WHERE b.status=1 
	    ORDER BY b.admin_sort
	</select>
	
	<select id="selectBrandsThree" resultMap="baseGoodsMap" parameterType="java.util.Map">
	<![CDATA[
		SELECT b.id bid, b.name brandname, b.desc branddesc 
		FROM goods_brand b WHERE b.admin_sort <> 0 AND b.status=1  
		ORDER BY b.admin_sort
		LIMIT #{from},#{size}
	]]>
	</select>
	
	
	<select id="selectTypesThree" resultMap="baseGoodsMap" parameterType="java.util.Map">
		<![CDATA[
			SELECT t.id tid,t.`name` typename FROM goods_type t 
			WHERE t.`status`= 1 AND 
		    t.`admin_sort` <> 0 
		    ORDER BY t.`admin_sort`
		    LIMIT #{from},#{size}
		]]>
	</select>
	
	<!-- 查询类型 -->
	<select id="selectTypes" resultMap="baseGoodsMap">
		SELECT t.id tid,t.name
		typename FROM goods_type t
	</select>



	<!-- 查询热门推荐商品 -->
	<sql id="hotGoodsWhere">
		g.id as gid,g.mid, b.id brand_id ,b.name brand_name,p.name type_name,g.name as goodsname,
		g.price,g.now_price now_price , g.count count, g.volume volume,mt.img_path as img_path
		,g.addtime addtime,g.pro_flag,g.promotion_price,d.specifications,mt.level as level,mt.name as merchant_name,
		<include refid="imgAttr" />
		d.weight,d.unit ,t.strategy_name,t.parameter1
	</sql>

	<!-- 查询所有商品 -->
	<select id="selectAllGoods" parameterType="java.util.Map"
		resultMap="baseGoodsMap">
		SELECT
		<include refid="commentGoods" />
		FROM GOODS g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_img i ON g.id = i.gid
		LEFT JOIN COMMENT c ON c.gid=g.id
		WHERE 1 = 1 AND g.state=1  
		GROUP BY g.id
		LIMIT #{from} , #{size}
	</select>

	<!-- 根据查询条件查询商品 -->
	<select id="selectGoodsByWhere" parameterType="java.util.Map"
		resultMap="baseGoodsMap">
		SELECT
		<include refid="commentGoods" />
		FROM GOODS g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_img i ON g.id = i.gid
		LEFT JOIN COMMENT c ON c.gid=g.id
		WHERE 1 = 1 AND g.state=1 
		<if test="brandArr !='' and brandArr !=null ">
			AND g.bid IN
			<foreach collection="brandArr" index="index" item="item"
				open="(" separator="," close=")">
				#{item}
			</foreach>
		</if>
		<if test="typeArr !='' and typeArr !=null ">
			AND g.tid IN
			<foreach collection="typeArr" index="index" item="item" open="("
				separator="," close=")">
				#{item}
			</foreach>
		</if>

		<if test="beginprice !='' and beginprice !=null">
			<![CDATA[ AND (CASE g.pro_flag WHEN '1' THEN g.promotion_price WHEN '0'  THEN g.price ELSE g.price END) >= #{beginprice} ]]>
		</if>
		<if test="endprice !='' and endprice!= null ">
			<![CDATA[ AND (CASE g.pro_flag WHEN '1' THEN g.promotion_price WHEN '0'  THEN g.price ELSE g.price END) <= #{endprice} ]]>
		</if>
		GROUP BY g.id
		<!-- 销量排序 -->
		<if test="order ==1 ">
			ORDER BY g.volume DESC
		</if>
		<!-- 价格排序 -->
		<if test="order ==2 ">
			ORDER BY nowprice 
		</if>
		<!-- 评论数排序 -->
		<if test="order ==3 ">
			ORDER BY COMMENT DESC
		</if>
		<!-- 新品排序 -->
		<if test="order ==4 ">
			ORDER BY g.addtime DESC
		</if>
		LIMIT #{from} , #{size}
	</select>

	<!-- 查询首页热门推荐商品列表（准备添加热门推荐排序，以后所有排序均由管理员统一配置维护） 该语句需要修改 -->
	<select id="selectHotGoods" resultMap="hotGoodsEntity">
		SELECT
		<include refid="hotGoodsWhere" />
	<![CDATA[
	FROM (
		select x.*
		FROM goods x
		 where 1=1 AND x.state=1
		 and x.mid in (select id from merchant m where m.admin_sort_num <=5 and m.admin_sort_num <> 0) 
		 and (select count(*) 
		     from goods t
		     where x.mid = t.mid and t.volume > x.volume and x.state=1 ) <= 4
		) g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_strategy s ON g.id=s.gid
		LEFT JOIN strategy t ON s.sid=t.id
		LEFT JOIN goods_brand b ON b.id=g.bid
		LEFT JOIN goods_img i ON g.id=i.gid
		LEFT JOIN goods_type p ON p.id = g.tid 
		left join merchant mt on g.mid = mt.id
		where 1=1 AND g.state=1
		ORDER BY mt.admin_sort_num asc,mid, g.volume DESC 
		 ]]>
	</select>
	<!-- 根据商品 推荐序号 查询 宝贝推荐的商品 -->
	<select id="selectRecommend" parameterType="java.util.Map" resultMap="baseGoodsMap">
	<![CDATA[	
		SELECT g.id gid,g.name goodsname, m.name as merchantname, i.Thumb_path_1 thumb_path_1
		,g.price,g.pro_flag,g.promotion_price,d.specifications
		FROM goods g
		LEFT JOIN merchant m ON g.mid=m.id
		LEFT JOIN goods_img i ON i.gid = g.id
		left join goods_detail d on g.id = d.gid
		 WHERE g.record_sort <> 0 ORDER BY g.record_sort 
		 limit #{from},#{to}
		]]>
	</select>
	<!-- 判断sql -->
	<sql id="where">
				<if test="brandArr !='' and brandArr !=null ">
					AND g.bid IN
					<foreach collection="brandArr" index="index" item="item"
						open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="typeArr !='' and typeArr !=null ">
					AND g.tid IN
					<foreach collection="typeArr" index="index" item="item" open="("
						separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="beginprice !='' and beginprice !=null">
					<![CDATA[ AND (CASE g.pro_flag WHEN '1' THEN g.promotion_price WHEN '0'  THEN g.price ELSE g.price END) >= #{beginprice} ]]>
				</if>
				<if test="endprice !='' and endprice !=null">
					<![CDATA[ AND (CASE g.pro_flag WHEN '1' THEN g.promotion_price WHEN '0'  THEN g.price ELSE g.price END) <= #{endprice} ]]>
				</if>
			</sql>
	<!-- 根据商品条件搜索关联店铺 -->
	<select id="selectMerchantByWhere" parameterType="java.util.Map"
		resultMap="GoodsMerchantMap">
		SELECT m.`id` mid ,m.`name` merchantname,m.img_path m_img, <include refid="nowprice"/>
		m.merchant_desc m_desc, COUNT(g.id) counts FROM goods g
		LEFT JOIN
		goods_detail d ON d.gid = g.id
		LEFT JOIN goods_img i ON i.gid = g.id
		LEFT JOIN merchant m ON m.id=g.mid
		LEFT JOIN goods_brand b ON
		b.id=g.`bid`
		LEFT JOIN goods_type t ON t.id=g.tid
		WHERE 1=1 AND
		g.state=1
		<include refid="where" />
		GROUP BY merchantname LIMIT #{from} , #{size}
	</select>
	<!--查询店铺相关产品->>更多相关产品 -->
	<select id="selectMerchantByWhereGoodsMax" parameterType="java.util.Map"
		resultMap="baseGoodsMap">
		SELECT <include refid="commentGoods" /> FROM goods g
				LEFT JOIN goods_detail d ON d.gid = g.id
				LEFT JOIN goods_img i ON i.gid = g.id
				LEFT JOIN merchant m ON m.id=g.mid
				LEFT JOIN goods_brand b ON b.id=g.`bid`
				LEFT JOIN goods_type t ON t.id=g.tid
				LEFT JOIN COMMENT c ON c.gid=g.id
				WHERE 1=1 AND g.state=1  AND m.id = #{mid}
				<if test="brandArr !='' and brandArr !=null ">
					AND g.bid IN
					<foreach collection="brandArr" index="index" item="item"
						open="(" separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="typeArr !='' and typeArr !=null ">
					AND g.tid IN
					<foreach collection="typeArr" index="index" item="item" open="("
						separator="," close=")">
						#{item}
					</foreach>
				</if>
				<if test="beginprice !='' and beginprice !=null">
					<![CDATA[ AND (CASE g.pro_flag WHEN '1' THEN g.promotion_price WHEN '0'  THEN g.price ELSE g.price END) >= #{beginprice} ]]>
				</if>
				<if test="endprice !='' and endprice !=null">
					<![CDATA[ AND (CASE g.pro_flag WHEN '1' THEN g.promotion_price WHEN '0'  THEN g.price ELSE g.price END) <= #{endprice} ]]>
				</if>
			GROUP BY g.id
			<!-- 销量排序 -->
			<if test="order ==1 ">
				ORDER BY g.volume DESC
			</if>
			<!-- 价格排序 -->
			<if test="order ==2 ">
				ORDER BY nowprice 
			</if>
			<!-- 评论数排序 -->
			<if test="order ==3 ">
				ORDER BY COMMENT DESC
			</if>
			<!-- 新品排序 -->
			<if test="order ==4 ">
				ORDER BY g.addtime DESC
			</if>
		LIMIT #{from}, #{size}
	</select>
	<!-- -->
	<!-- 查询热门推荐商品的基本信息 -->
	<resultMap type="com.jingyunbank.etrade.goods.entity.Hot24GoodsEntity"
		id="hot24GoodsEntity">
		<!-- 商品概要信息 -->
		<result column="id" property="GID" />
		<result column="name" property="goodsName" />
		<result column="price" property="price" />
		<result column="now_price" property="nowPrice" />
		<result column="thumb_path_1" property="thumbpath1" />
	</resultMap>
	<!-- 查询24小时热卖推荐商品列表 -->
	<select id="selectHot24Goods" resultMap="hot24GoodsEntity">
		SELECT
		x.id,x.mid,x.name,x.price,x.now_price now_price,i.thumb_path_1 as thumb_path_1
	<![CDATA[
	 from (
		select gid,sum(count) as count from sales_records where 
		sales_date  >= 
		DATE_SUB(NOW(),INTERVAL 24 HOUR)
		group by gid order by sum(count) desc limit 0,3
		) r left join goods x
		 on 1=1 AND x.state=1
		and r.gid = x.id
		left join goods_img i
	    on r.gid = i.gid 
		 ]]>
	</select>
	<!-- 查询推广商品 -->
	<select id="selectGoodsExpand" resultMap="baseGoodsMap">
		select <include refid="commentGoods" />
		FROM goods g
		LEFT JOIN goods_img i ON g.id=i.gid
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN COMMENT c ON c.gid=g.id
		WHERE 1=1 AND <![CDATA[expand_sort <> 0  ]]>
		GROUP BY g.id
		ORDER BY expand_sort
		limit 0,3
	</select>
	<!-- 在结果中查询商品 -->
	<select id="selectGoodsByGoodsResult" parameterType="java.util.Map" resultMap="baseGoodsMap">
		SELECT <include refid="commentGoods" /> FROM GOODS g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_img i ON g.id = i.gid
		LEFT JOIN COMMENT c ON c.gid=g.id
		WHERE 1 = 1 AND g.state=1 
		<include refid="where" />
		<if test="goodsname !='' and goodsname!=null ">
			<![CDATA[ AND g.name LIKE CONCAT(CONCAT('%', #{goodsname}), '%')]]>
		</if>
		GROUP BY g.id
		<!-- 销量排序 -->
		<if test="order ==1 ">
			ORDER BY g.volume DESC
		</if>
		<!-- 价格排序 -->
		<if test="order ==2 ">
			ORDER BY nowprice 
		</if>
		<!-- 评论数排序 -->
		<if test="order ==3 ">
			ORDER BY COMMENT DESC
		</if>
		<!-- 新品排序 -->
		<if test="order ==4 ">
			ORDER BY g.addtime DESC
		</if>
		LIMIT #{from} , #{size}
	</select>
	<!-- 根据ID 查询商品属性 -->
	<select id="selectOne" parameterType="string" resultMap="baseGoodsMap">
		SELECT
		<include refid="detailedSql"/>
		FROM goods g
		LEFT JOIN goods_img i ON g.id=i.gid
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_brand b ON b.id=g.bid 
		LEFT JOIN merchant m ON g.mid=m.id
		LEFT JOIN goods_type t ON t.id=g.tid
		LEFT JOIN COMMENT c ON g.id=c.gid
		WHERE 1=1 AND g.id = #{gid} GROUP BY g.id
	</select>
	<!-- 查询商品详情页的宝贝排行  -->
	<resultMap type="com.jingyunbank.etrade.goods.entity.HoneyGoodsEntity"
		id="honeyGoodsEntity">
		<!-- 商品概要信息 -->
		<result column="gid" property="GID" />
		<result column="goodsname" property="goodsName" />
		<result column="price" property="price" />
		<result column="now_price" property="nowPrice" />
		<result column="thumb_path_1" property="thumbpath1" />
	</resultMap>
	<!-- 查询商品详情页的宝贝排行  -->
	<select id="selectHoneyGoods" resultMap="honeyGoodsEntity">
	<![CDATA[	
		SELECT g.id gid,g.name goodsname,g.price,g.promotion_price as promotionPrice,g.now_price,
		g.volume as volume, m.name merchantname, i.Thumb_path_1 thumb_path_1,g.pro_flag
		FROM goods g
		LEFT JOIN merchant m ON g.mid=m.id
		LEFT JOIN goods_img i ON i.gid = g.id
		ORDER BY g.volume desc limit 0,4
		]]>
	</select>
	
	<!-- 获取商品的库存 -->
	<select id="selectGoodsStock" parameterType="string"
		resultMap="baseGoodsMap">
		SELECT g.id gid,g.count counts  FROM goods g
		WHERE 1=1 
		<if test="gids !='' and gids !=null ">
					AND g.id IN
					<foreach collection="gids" index="index" item="item"
						open="(" separator="," close=")">
						#{item}
					</foreach>
		</if>
	</select>
	
</mapper>
