<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.goods.dao.GoodsDao">
	<!-- 包装商品 商家 品牌 介绍 等所有属性的包装类 -->
	<resultMap type="com.jingyunbank.etrade.goods.entity.GoodsDaoVO" id="baseGoodsMap">
		<id column="id" property="id"/>
		<result column="brand_id" property="brand_id"/>
		<result column="brand_name" property="brandname"/>
		<result column="type_id" property="type_id"/>
		<result column="type_name" property="good_type_name"/>
		<result column="name" property="goodname"/>
		<result column="price" property="price"/>
		<result column="counts" property="count"/>
		<result column="volume" property="volume"/>
		<result column="addtime" property="goodaddtime"/>
		<result column="weight" property="weight"/>
		<result column="unit" property="unit"/>
		<result column="parameter1" property="discount"/>
		<result column="now_price" property="discount_price"/>
		<result column="show_path" property="show_path"/>
		<result column="thumb_path" property="thumb_path"/>
	</resultMap>
	
	
	<!-- 根据名称like查询商品 -->
	<select id="selectGoodsByLikeName" parameterType="string" resultMap="baseGoodsMap">
		SELECT g.id id ,g.name name ,g.price price,g.now_price now_price,
		i.Thumb_path thumb_path,i.show_path show_path,
		d.weight weight ,d.unit unit ,t.strategy_name strategy_name ,t.parameter1 parameter1 FROM goods g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_strategy s ON g.id=s.gid
		LEFT JOIN strategy t ON s.sid=t.id
		LEFT JOIN goods_img i ON g.id=i.gid
		WHERE g.name LIKE  CONCAT(CONCAT('%', #{goodsname}), '%') and g.state=1
	</select>
	<!-- 查询品牌列表 -->
	<select id="selectBrands" resultMap="baseGoodsMap">
		SELECT id brand_id ,NAME brand_name FROM goods_brand
	</select>
	<!-- 查询类型列表 -->
	<select id="selectTypes" resultMap="baseGoodsMap">
		SELECT id type_id ,NAME type_name FROM goods_type
	</select>
	<!-- 根据查询条件查询商品 -->
	<sql id="goodsWhere">
	g.id, b.id brand_id ,b.name brand_name,p.name type_name,g.name,
	g.price,g.now_price now_price , g.count counts, g.volume volume ,g.addtime addtime,
	i.Thumb_path thumb_path,i.show_path show_path,
	d.weight,d.unit ,t.strategy_name,t.parameter1
	</sql>
	<select id="selectGoodsByWhere"  parameterType="java.util.Map" resultMap="baseGoodsMap">
		SELECT <include refid="goodsWhere"/>  FROM goods g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_strategy s ON g.id=s.gid
		LEFT JOIN strategy t ON s.sid=t.id
		LEFT JOIN goods_brand b ON b.id=g.bid
		LEFT JOIN goods_img i ON g.id=i.gid
		LEFT JOIN goods_type p ON p.id = g.tid where 1=1 AND g.state=1
		
		<if test="brandArr !='' and brandArr !=null ">
		  	AND b.id IN 
			<foreach collection="brandArr" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	   		 </foreach>  
		</if>
		<if test="typeArr !='' and typeArr !=null ">
			AND p.id IN
			<foreach collection="typeArr" index="index" item="item" open="(" separator="," close=")">  
	            #{item}   
	   		 </foreach>  
		</if>
		  
		<if test="beginprice !=''">
			<![CDATA[ AND g.price >= #{beginprice} ]]>
		</if>
		<!-- -->
		<if test="endprice !=''">
			<![CDATA[ AND g.price <= #{endprice} ]]>
		</if>
	
		
		<!-- 销量排序 -->
		<if test="order ==1 ">
			ORDER BY g.volume DESC
		</if>
		<!-- 价格排序 -->
		<if test="order ==2 ">
			ORDER BY g.price DESC
		</if>
		<!-- 评论数排序 -->
		<if test="order ==3 ">
			ORDER BY g.volume DESC
		</if>
		<!-- 新品排序 -->
		<if test="order ==4 ">
			ORDER BY g.addtime DESC
		</if>
	</select>
</mapper>
