<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.goods.dao.MerchantDao">
	<resultMap  id="r_merchant" type="com.jingyunbank.etrade.goods.entity.MerchantEntity">
	     <id column="id" property="ID"/>
    	 <result column="merchant_name" property="merchantName"/>
    	 <result column="merchant_ename" property="merchantEname"/>
    	 <result column="merchant_code" property="merchantCode"/>
    	 <result column="merchant_address" property="merchantAddress"/>
    	 <result column="merchant_scale" property="merchantScale"/>
    	 <result column="employee_num" property="employeeNum"/>
    	 <result column="tel" property="tel"/>
    	 <result column="zipcode" property="zipcode"/>
    	 <result column="qq" property="qq"/>
    	 <result column="two_dimension_code" property="twoDimensionCode"/>
    	 <result column="register_date" property="registerDate"/>
    	 <result column="admin_sort_num" property="adminSortNum"/>
    	 <result column="merchant_desc" property="merchantDesc"/>
    	 <result column="img_path" property="imgPath"/>
	</resultMap>
	<select id = "selectMerchants" resultMap="r_merchant" >
	select * from merchant ORDER BY admin_sort_num limit #{from},#{to};
	</select>
</mapper>
