<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.merchant.dao.MerchantDao">
	<resultMap  id="rlt_merchant" type="com.jingyunbank.etrade.merchant.entity.MerchantEntity">
	     <id column="id" property="ID"/>
    	 <result column="merchant_name" property="merchantName"/>
    	 <result column="merchant_ename" property="merchantEname"/>
    	 <result column="merchant_code" property="merchantCode"/>
    	 <result column="merchant_address" property="merchantAddress"/>
    	 <result column="merchant_scale" property="merchantScale"/>
    	 <result column="employee_num" property="employeeNum"/>
    	 <result column="tel" property="tel"/>
    	 <result column="zipcode" property="zipcode"/>
    	 <result column="qq" property="qq"/>
    	 <result column="two_dimension_code" property="twoDimensionCode"/>
    	 <result column="register_date" property="registerDate"/>
    	 <result column="admin_sort_num" property="adminSortNum"/>
    	 <result column="merchant_desc" property="merchantDesc"/>
    	 <result column="img_path" property="imgPath"/>
    	 <result column="invoice_flag" property="invoiceFlag"/>
	</resultMap>
	<resultMap  id="rlt_invoicetype" type="com.jingyunbank.etrade.merchant.entity.InvoiceTypeEntity">
		 <result column="code" property="code"/>
    	 <result column="name" property="name"/>
    	 <result column="remark" property="remark"/>
	</resultMap>
	
	<!--查询推荐商家列表 -->
	<select id = "selectMerchants" resultMap="rlt_merchant" >
	select * from merchant ORDER BY admin_sort_num limit #{from},#{to};
	</select>
	<!--添加商家信息 -->
	<insert id="insertMerchant" parameterType="com.jingyunbank.etrade.merchant.entity.MerchantEntity">
			INSERT INTO merchant(id,merchant_name,merchant_ename,merchant_code,merchant_address,merchant_scale,employee_num,tel,
			zipcode,qq,two_dimension_code,register_date,admin_sort_num,merchant_desc,img_path,invoice_flag)
			VALUES 
			(#{ID},#{merchantName},#{merchantEname},#{merchantCode},#{merchantAddress},#{merchantScale},#{employeeNum},#{tel},
			#{zipcode},#{qq},#{twoDimensionCode},#{registerDate},#{adminSortNum},#{merchantDesc},#{imgPath},#{invoiceFlag});
	</insert>
	<!--查询所有发票类型列表 -->
	<select id = "selectInvoiceType" resultMap="rlt_invoicetype" >
	select * from invoice_type ORDER BY code;
	</select>
	<!--添加商家发票类型信息 -->
	<insert id="insertMerchantInvoiceType" parameterType="com.jingyunbank.etrade.merchant.entity.MerchantInvoiceEntity">
			INSERT INTO merchant_invoice(id,mid,code)
			VALUES 
			(#{ID},#{MID},#{code});
	</insert>
	<!--修改商家信息 -->
	<update id="updateMerchant" parameterType="com.jingyunbank.etrade.merchant.entity.MerchantEntity">
			update merchant set
			merchant_name = #{merchantName},
			merchant_ename = #{merchantEname},
			merchant_code = #{merchantCode},
			merchant_address = #{merchantAddress},
			merchant_scale = #{merchantScale},
			employee_num = #{employeeNum},
			tel = #{tel},
			zipcode = #{zipcode},
			qq = #{qq},
			two_dimension_code = #{twoDimensionCode},
			register_date = #{registerDate},
			admin_sort_num = #{adminSortNum},
			merchant_desc = #{merchantDesc},
			img_path = #{imgPath},
			invoice_flag = #{invoiceFlag} 
			where id = #{ID}
	</update>
	<!--删除商家和发票类型关联信息 -->
	<delete id="deleteMerchantInvoiceType" parameterType="String">
		delete from merchant_invoice where mid = #{mid}
	</delete>
	<resultMap  id="rlt_deliverytype" type="com.jingyunbank.etrade.merchant.entity.DeliveryTypeEntity">
		 <result column="code" property="code"/>
    	 <result column="name" property="name"/>
    	 <result column="description" property="description"/>
	</resultMap>
	<!--查询所有发票类型列表 -->
	<select id = "selectDeliveryType" resultMap="rlt_deliverytype" >
	select * from delivery_type ORDER BY code;
	</select>
	<!--添加商家发票类型信息 -->
	<insert id="insertMerchantDeliveryType" parameterType="com.jingyunbank.etrade.merchant.entity.MerchantDeliveryEntity">
			INSERT INTO merchant_delivery(id,mid,code)
			VALUES 
			(#{ID},#{MID},#{code});
	</insert>
	<!--删除商家和发票类型关联信息 -->
	<delete id="deleteMerchantDeliveryType" parameterType="String">
		delete from merchant_delivery where mid = #{mid}
	</delete>
</mapper>
