<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.pay.dao.PayTypeDao">
	
	<sql id="paytype_columns">
		id, name, code, description, online, disable
	</sql>
	<select id="select" resultType="com.jingyunbank.etrade.pay.entity.PayTypeEntity">
		select <include refid="paytype_columns"/> from pay_type
	</select>
	
</mapper>
