<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.order.dao.OrderGoodsDao">
	<resultMap type="com.jingyunbank.etrade.order.entity.OrderGoodsEntity" id="OrderGoodsEntityResultMap">
		<id column="id" property="ID" javaType="String"/>
		<result column="oid" property="OID" javaType="String"/>
		<result column="orderno" property="orderno" jdbcType="BIGINT"/>
		<result column="gid" property="GID" javaType="String"/>
		<result column="addtime" property="addtime" javaType="java.util.Date"/>
		<result column="gname" property="gname" javaType="String"/>
		<result column="status_code" property="statusCode" javaType="String"/>
		<result column="price" property="price" jdbcType="DECIMAL"/>
		<result column="pprice" property="pprice" jdbcType="DECIMAL"/>
		<result column="payout" property="payout" jdbcType="DECIMAL"/>
		<result column="reduce" property="reduce" jdbcType="DECIMAL"/>
		<result column="count" property="count" jdbcType="INTEGER"/>
		<result column="uid" property="UID" javaType="String"/>
		<association property="goodsImgEntity" javaType="com.jingyunbank.etrade.goods.entity.GoodsImgEntity">
			<result column="thumb_path_1" property="thumbpath1"/>
		</association>
	</resultMap>
	<sql id="order_goods_column">
		id, oid,uid, orderno, gid, gname, addtime, status_code, price, pprice, payout, reduce, count
	</sql>
	<insert id="insertMany">
		insert into order_goods
			(<include refid="order_goods_column"/>)
		values
			<foreach collection="goods" item="g" index="i" open="" separator="," close="">
				(#{g.ID}, #{g.OID}, #{g.UID}, #{g.orderno}, #{g.GID}, #{g.gname}, 
				#{g.addtime}, #{g.statusCode}, #{g.price}, #{g.pprice}, #{g.payout}, 
				#{g.reduce}, #{g.count})
			</foreach>
	</insert>
	<select id="selectByUID" resultMap="OrderGoodsEntityResultMap">
		select og.id, og.oid,og.uid, og.orderno,og.gid, og.gname, og.addtime, og.status_code, og.price, og.payout, og.reduce, og.count
		,img.thumb_path_1
		from order_goods og
		left join goods_img img on og.gid = img.gid
		where og.uid = #{UID} and og.status_code= #{status.code}  order by og.addtime desc
		
	</select>
	<select id="selectByID" parameterType="String" resultMap="OrderGoodsEntityResultMap">
		select og.id, og.oid,og.uid, og.orderno,og.gid, og.gname, og.addtime, og.status_code, og.price, og.payout, og.reduce, og.count
		,img.thumb_path_1
		from order_goods og
		left join goods_img img on og.gid = img.gid
		where og.id = #{ID}
	</select>
	<update id="updateStatus">
		update order_goods og
		set og.status_code = #{status.code}
		where og.oid in 
		<foreach collection="oids" item="oid" open="(" separator="," close=")">
			#{oid}
		</foreach>
	</update>
	<update id="updateGoodStatus">
		update order_goods og
		set og.status_code = #{status.code}
		where og.id = #{ID}
	</update>
	<select id="getByOID" resultType="int">
		select count(id)
		from order_goods og
		where og.oid = #{OID} and og.status_code= #{status.code}
	</select>
</mapper>
