<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.order.dao.OrderDao">
	<resultMap type="com.jingyunbank.etrade.order.entity.OrderEntity" id="OrderEntityResultMap">
		<id column="id" property="ID" javaType="String"/>
		<result column="orderno" property="orderno" jdbcType="BIGINT"/>
		<result column="receiver" property="receiver" javaType="String"/>
		<result column="mid" property="MID" javaType="String"/>
		<result column="mname" property="mname" javaType="String"/>
		<result column="uid" property="UID" javaType="String"/>
		<result column="address" property="address" javaType="String"/>
		<result column="mobile" property="mobile" javaType="String"/>
		<result column="zipcode" property="zipcode" javaType="String"/>
		<result column="addtime" property="addtime" javaType="java.util.Date"/>
		<result column="paytype_code" property="paytypeCode" javaType="String"/>
		<result column="paytype_name" property="paytypeName" javaType="String"/>
		<result column="deliverytype_code" property="deliveryTypeCode" javaType="String"/>
		<result column="deliverytype_name" property="deliveryTypeName" javaType="String"/>
		<result column="invoice_type" property="invoiceType" javaType="String"/>
		<result column="invoice_title" property="invoiceTitle" javaType="String"/>
		<result column="coupon_id" property="couponID" javaType="String"/>
		<result column="coupon_type" property="couponType" javaType="String"/>
		<result column="status_code" property="statusCode" javaType="String"/>
		<result column="status_name" property="statusName" javaType="String"/>
		<result column="price" property="price" jdbcType="DECIMAL"/>
		<result column="payout" property="payout" jdbcType="DECIMAL"/>
		<result column="postage" property="postage" jdbcType="DECIMAL"/>
		<result column="note" property="note" javaType="String"/>
		<collection property="goods" javaType="ArrayList" ofType="com.jingyunbank.etrade.order.entity.OrderEntity$GoodsEntity">
			<result column="ogid" property="ID" javaType="String"/>
			<result column="gid" property="GID" javaType="String"/>
			<result column="gname" property="gname" javaType="String"/>
			<result column="imgpath" property="imgpath" javaType="String"/>
			<result column="count" property="count" jdbcType="INTEGER"/>
			<result column="gprice" property="price" jdbcType="DECIMAL"/>
			<result column="gstatuscode" property="statusCode" javaType="String"/>
		</collection>
	</resultMap>
	<sql id="orders_columns">
		id, orderno, receiver, uid, mid, mname, address, mobile, zipcode, addtime, 
		paytype_code, paytype_name, deliverytype_code, deliverytype_name, coupon_id, coupon_type,
		status_code, status_name, price, payout, postage, note, invoice_type, invoice_title
	</sql>
	<sql id="payments_join_orders_columns">
		o.id, o.orderno, o.receiver, o.uid, o.mid, o.mname, o.address, o.mobile, o.zipcode, o.addtime, 
		o.paytype_code, o.paytype_name, o.deliverytype_code, o.deliverytype_name, o.coupon_id, o.coupon_type,
		o.status_code, o.status_name, o.price, o.payout, o.postage, o.note, o.invoice_type, o.invoice_title
	</sql>
	<sql id="goods_join_orders_columns">
		o.id, o.orderno, o.receiver, o.uid, o.mid, o.mname, o.address, o.mobile, o.zipcode, o.addtime, 
		o.paytype_code, o.paytype_name, o.deliverytype_code, o.deliverytype_name, 
		o.coupon_id, o.coupon_type, o.invoice_type, o.invoice_title,
		o.status_code, o.status_name, o.price, o.payout, o.postage, o.note,
		img.thumb_path_1 as imgpath, img.gid as gid, 
		og.gname as gname, og.count as count, 
		og.price as gprice, og.id as ogid, og.status_code as gstatuscode
	</sql>
	<insert id="insertOne" parameterType="com.jingyunbank.etrade.order.entity.OrderEntity">
		insert into orders
			(<include refid="orders_columns"/>)
		values
			(
				#{ID}, #{orderno}, #{receiver}, #{UID}, #{MID}, #{mname}, #{address},
				 #{mobile}, #{zipcode}, #{addtime}, #{paytypeCode}, #{paytypeName}, 
				 #{deliveryTypeCode}, #{deliveryTypeName}, #{couponID}, #{couponType},
				 #{statusCode}, #{statusName}, #{price}, #{payout}, #{postage}, #{note},
				 #{invoiceType}, #{invoiceTitle}
			 )
	</insert>
	<insert id="insertMany">
		insert into orders
			(<include refid="orders_columns"/>)
		values
		<foreach collection="orders" item="order" separator="," open="" close="">
			(
			 #{order.ID}, #{order.orderno}, #{order.receiver}, #{order.UID}, #{order.MID}, #{order.mname}, #{order.address},
			 #{order.mobile}, #{order.zipcode}, #{order.addtime},  #{order.paytypeCode}, #{order.paytypeName}, 
			 #{order.deliveryTypeCode}, #{order.deliveryTypeName}, #{order.couponID}, #{order.couponType},
			 #{order.statusCode}, #{order.statusName}, #{order.price}, #{order.payout}, #{order.postage}, #{order.note},
			 #{order.invoiceType}, #{order.invoiceTitle}
			)
		</foreach>
	</insert>
	<select id="selectByUID" parameterType="String" resultMap="OrderEntityResultMap">
		select <include refid="goods_join_orders_columns"/> 
		from order_goods og
		left join goods_img img on og.gid = img.gid 
		left join orders o on og.oid = o.id 
		where o.uid = #{uid} order by o.addtime desc
	</select>
	<select id="selectByOIDs" resultMap="OrderEntityResultMap">
		select <include refid="goods_join_orders_columns"/> 
		from order_goods og
		left join goods_img img on og.gid = img.gid 
		left join orders o on og.oid = o.id 
		where o.id in 
			<foreach collection="oids" item="oid" open="(" separator="," close=")">
				#{oid}
			</foreach>
	</select>
	<select id="selectOne" parameterType="String" resultMap="OrderEntityResultMap">
		select <include refid="goods_join_orders_columns"/> 
		from order_goods og
		left join goods_img img on og.gid = img.gid 
		left join orders o on og.oid = o.id 
		where o.id = #{oid}
	</select>
	<select id="selectWithCondition" resultMap="OrderEntityResultMap">
		select <include refid="goods_join_orders_columns"/> 
		from order_goods og
		left join goods_img img on og.gid = img.gid 
		left join orders o on og.oid = o.id 
		where 
			o.uid = #{uid}
			<if test="statuscode != null and !''.equals(statuscode)">
				and o.status_code = #{statuscode}
			</if>
			<if test="fromdate != null and !''.equals(fromdate)">
				and o.addtime &gt;= #{fromdate}
			</if>
			<if test="keywords != null and !''.equals(keywords)">
				and (
						og.gname like CONCAT('%','${keywords}','%') 
						or 
						o.orderno like CONCAT('%','${keywords}','%')
						or
						o.mid like CONCAT('%','${keywords}','%')
						or
						o.mname like CONCAT('%','${keywords}','%')
					)
			</if>
		order by o.addtime desc 
		limit #{from}, #{size}
	</select>
	
	<select id="selectCount" resultType="int">
		select count(1) 
		from order_goods og
		left join orders o on og.oid = o.id 
		where 
			o.uid = #{uid}
			<if test="statuscode != null and !''.equals(statuscode)">
				and o.status_code = #{statuscode}
			</if>
			<if test="fromdate != null and !''.equals(fromdate)">
				and o.addtime &gt;= #{fromdate}
			</if>
			<if test="keywords != null and !''.equals(keywords)">
				and (
						og.gname like CONCAT('%','${keywords}','%') 
						or 
						o.orderno like CONCAT('%','${keywords}','%')
					)
			</if>
	</select>
	<select id="selectmWithCondition" resultMap="OrderEntityResultMap">
		select <include refid="goods_join_orders_columns"/> 
		from order_goods og
		left join goods_img img on og.gid = img.gid 
		left join orders o on og.oid = o.id 
		where 
			o.mid = #{mid}
			<if test="statuscode != null and !''.equals(statuscode)">
				and o.status_code = #{statuscode}
			</if>
			<if test="fromdate != null and !''.equals(fromdate)">
				and o.addtime &gt;= #{fromdate}
			</if>
			<if test="keywords != null and !''.equals(keywords)">
				and (
						og.gname like CONCAT('%','${keywords}','%') 
						or 
						o.orderno like CONCAT('%','${keywords}','%')
						or
						o.mid like CONCAT('%','${keywords}','%')
						or
						o.mname like CONCAT('%','${keywords}','%')
					)
			</if>
		order by o.addtime desc 
		limit #{from}, #{size}
	</select>
	
	<select id="selectBetween" resultMap="OrderEntityResultMap">
		select <include refid="goods_join_orders_columns"/> 
		from order_goods og
		left join goods_img img on og.gid = img.gid 
		left join orders o on og.oid = o.id 
		where o.addtime between #{start} and #{end}
	</select>
	<select id="select" resultMap="OrderEntityResultMap">
		select <include refid="goods_join_orders_columns"/> 
		from order_goods og
		left join goods_img img on og.gid = img.gid 
		left join orders o on og.oid = o.id 
	</select>
	<update id="updateStatus">
		update orders
		set status_code = #{status.code}, status_name = #{status.name}
		where id in 
		<foreach collection="oids" item="oid" open="(" separator="," close=")">
			#{oid}
		</foreach>
	</update>
	<select id="selectByExtranso" parameterType="String"  resultMap="OrderEntityResultMap">
		select <include refid="payments_join_orders_columns"/>
		from order_payment p
		left join orders o on p.oid = o.id
		where p.extransno = #{extransno}
	</select>
	
</mapper>
