<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.vip.point.dao.PointLogDao">
	<resultMap type="com.jingyunbank.etrade.vip.point.entity.PointLogEntity" id="PointLogEntityResultMap">
		<id column="id" property="ID" />
		<result column="uid" property="UID" />
		<result column="point" property="point" />
		<result column="add_time" property="addTime" />
		<result column="remark" property="remark" />
	</resultMap>
	<sql id="base_column">
		id ,uid ,point ,add_time ,remark
	</sql>
	
	<select id="selectList" resultMap="PointLogEntityResultMap">
		select <include refid="base_column"/> from point_log where uid=#{UID}
		order by add_time desc
		limit #{offset},#{size}
	</select>
	
	<select id="select" resultMap="PointLogEntityResultMap">
		select <include refid="base_column"/> from point_log where uid=#{UID}
		order by add_time desc
	</select>
	
	
	<insert id="insert">
		insert into point_log(<include refid="base_column"/>) 
		values(#{ID}, #{UID},#{point},now(),#{remark})
	</insert>
	
	
	
	
	
</mapper>	