<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.wap.goods.dao.GoodsImgDao">

	<resultMap type="com.jingyunbank.etrade.wap.goods.entity.GoodsImgEntity"
		id="imgMap">
		<result column="id_" property="ID" />
		<result column="gid_" property="GID" />
		<result column="skuId_" property="skuId" />
		<result column="path_" property="path" />
	</resultMap>

	<sql id="imgSql">
		i.`id` id_,i.`gid` gid_, i.`skuid` skuid_, i.`path` path_
	</sql>
	<select id="selectGoodsDetailImgs" parameterType="string"
		resultMap="imgMap">
		SELECT
		<include refid="imgSql" />
		FROM goods_img i
		WHERE 1=1 AND i.`skuid` IS NULL
		AND i.`gid`= #{gid}
	</select>
</mapper>
