<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.wap.goods.dao.WapGoodsInfoOperationDao">

	<insert id="insertGoodsInfo"
		parameterType="com.jingyunbank.etrade.wap.goods.entity.GoodsInfoEntity">
		INSERT INTO `goods_info` (`id`, `gid`, `key`, `value`)
		VALUES (#{ID}, #{GID}, #{key},#{value})
	</insert>

	<delete id="deleteGoodsInfo" parameterType="string">
		DELETE FROM
		goods_info WHERE gid = #{gid}
	</delete>
	<delete id="deleteGoodsInfoById" parameterType="string">
		DELETE FROM
		goods_info WHERE id = #{infoId}
	</delete>
</mapper>
