<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.vip.dao.UserDiscountCouponDao">
	<resultMap type="com.jingyunbank.etrade.vip.entity.UserDiscountCouponEntity" id="UserDiscountCouponEntityResultMap">
	<id column="id" property="ID" javaType="String" />
		<result column="uid" property="UID" javaType="String"/>
		<result column="coupon_id" property="couponID" javaType="String"/>
		<result column="oid" property="OID" javaType="String"/>
		<result column="add_time" property="addTime" javaType="java.util.Date"/>
		<result column="consume_time" property="consumeTime"  javaType="java.util.Date"/>
		<result column="consumed" property="consumed" javaType="BOOLEAN"/>
		<association property="discountCouponEntity" javaType="com.jingyunbank.etrade.vip.entity.DiscountCouponEntity">
			<result column="code" property="code" javaType="String" />
			<result column="value" property="value" javaType="DECIMAL" />
			<result column="discount" property="discount" javaType="DECIMAL" />
			<result column="start" property="start" javaType="java.util.Date"/>
			<result column="end" property="end" javaType="java.util.Date"/>
			<result column="threshhold" property="threshhold" javaType="DECIMAL" />
		</association>
	</resultMap>
	<sql id="column_list">
		id,uid,coupon_id,oid,add_time,consume_time,consumed
	</sql>
	
	<insert id="insert">
		insert into user_discount_coupon (<include refid="column_list"/>)
		values(#{ID},#{UID},#{couponID},#{OID},now(),#{consumeTime},#{consumed})
	</insert>
	<!-- 用户未消费且未过期的券 -->
	<select id="getUnusedCoupon" resultMap="UserDiscountCouponEntityResultMap">
		select u.*,c.`code`,c.`value`,c.`start`,c.`end`,c.threshhold ,c.discount
			from 
				user_discount_coupon u , discount_coupon c
			where <include refid="getUnusedCoupon_condition"/>
				order by u.add_time DESC
				<if test="size!=null and size!=0">
				LIMIT offset,size
				</if>
	</select>
	<!-- 用户未消费且未过期的券的券数量 -->
	<select id="getUnusedCouponAmount" resultType="int">
		select count(1) from  
				user_discount_coupon u , discount_coupon c
			where <include refid="getUnusedCoupon_condition"/>
	</select>
	
	<!-- 未消费且未过期的券查询条件 -->
	<sql id="getUnusedCoupon_condition">
		 		u.coupon_id = c.id
				and u.uid=#{UID}
				and c.del=false
				and u.consumed=false
				and now() &lt;= c.`end`
	</sql>
	
	<!-- 用户已消费的券 -->
	<select id="getConsumedCoupon" resultMap="UserDiscountCouponEntityResultMap">
		select u.*,c.`code`,c.`value`,c.`start`,c.`end`,c.threshhold ,c.discount
			from 
				user_discount_coupon u , discount_coupon c
			where <include refid="getConsumedCoupon_condition"/>
				order by u.add_time DESC
				<if test="size!=null and size!=0">
				LIMIT offset,size
				</if>
	</select>
	<!-- 用户已消费的券 数量 -->
	<select id="getConsumedCouponAmount" resultType="int">
		select count(1) from  
				user_discount_coupon u , discount_coupon c
			where <include refid="getConsumedCoupon_condition"/>
	</select>
	<!-- 已消费券查询条件 -->
	<sql id="getConsumedCoupon_condition">
		 		u.coupon_id = c.id
				and u.uid=#{UID}
				and u.consumed=true
	</sql>
	
	<!-- 用户已过期的券 -->
	<select id="getOverdueCoupon" resultMap="UserDiscountCouponEntityResultMap">
		select u.*,c.`code`,c.`value`,c.`start`,c.`end`,c.threshhold ,c.discount
			from 
				user_discount_coupon u , discount_coupon c
			where <include refid="getOverdueCoupon_condition"/>
				order by u.add_time DESC
				<if test="size!=null and size!=0">
				LIMIT offset,size
				</if>
	</select>
	<!-- 用户已过期的券 数量 -->
	<select id="getOverdueCouponAmount" resultType="int">
		select count(1) from  
				user_discount_coupon u , discount_coupon c
			where <include refid="getOverdueCoupon_condition"/>
	</select>
	<!-- 已过期券查询条件 -->
	<sql id="getOverdueCoupon_condition">
		 		u.coupon_id = c.id
		 		and c.del=false
				and u.uid=#{UID}
				and u.consumed=false
				and now() &gt;= c.`end`
	</sql>
	
	
	
	<!-- 用户当前可用的券 -->
	<select id="getUseableCoupon" resultMap="UserDiscountCouponEntityResultMap">
		select u.*,c.`code`,c.`value`,c.`start`,c.`end`,c.threshhold ,c.discount
			from 
				user_discount_coupon u , discount_coupon c
			where <include refid="getUseableCoupon_condition"/>
				order by u.add_time DESC
				<if test="size!=null and size!=0">
				LIMIT offset,size
				</if>
	</select>
	<!-- 用户当前可用 数量 -->
	<select id="getUseableCouponAmount" resultType="int">
		select count(1) from  
				user_discount_coupon u , discount_coupon c
			where <include refid="getUseableCoupon_condition"/>
	</select>
	<!-- 用户当前可用查询条件 -->
	<sql id="getUseableCoupon_condition">
		 		u.coupon_id = c.id
		 		and c.del=false
				and u.uid=#{UID}
				and u.consumed=false
				and now() between c.start and c.`end`
	</sql>
	
	
	
	<update id="updateConsumeStatus">
		update user_discount_coupon 
		 set oid = #{OID},
		 consumed = true,
		 consume_time = now()
		 where coupon_id = #{couponID}
	</update>
	
	<select id="getUserCashCoupon" resultMap="UserDiscountCouponEntityResultMap">
		select u.*,c.`code`,c.`value`,c.`start`,c.`end`,c.threshhold  ,c.discount
			from 
				user_discount_coupon u , discount_coupon c
			where u.coupon_id = c.id
				and u.uid=#{uid}
				and c.id=#{couponID} 
	</select>
	
</mapper>
