<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.vip.dao.UserCashCouponDao">
	<resultMap type="com.jingyunbank.etrade.vip.entity.UserCashCouponEntity" id="UserCashCouponEntityResultMap">
		<id column="id" property="ID" javaType="String" />
		<result column="uid" property="UID" javaType="String"/>
		<result column="coupon_id" property="couponID" javaType="String"/>
		<result column="oid" property="OID" javaType="String"/>
		<result column="add_time" property="addTime" javaType="java.util.Date"/>
		<result column="consume_time" property="consumeTime"  javaType="java.util.Date"/>
		<result column="consumed" property="consumed" javaType="BOOLEAN"/>
		<association property="cashCoupon" javaType="com.jingyunbank.etrade.vip.entity.CashCouponEntity">
			<result column="code" property="code" javaType="String" />
			<result column="value" property="value" javaType="DECIMAL" />
			<result column="start" property="start" javaType="java.util.Date"/>
			<result column="end" property="end" javaType="java.util.Date"/>
			<result column="threshhold" property="threshhold" javaType="DECIMAL" />
		</association>
	</resultMap>
	<sql id="column_list">
		id,uid,coupon_id,oid,add_time,consume_time,consumed
	</sql>
	
	<insert id="insert">
		insert into user_cash_coupon (<include refid="column_list"/>)
		values(#{ID},#{UID},#{couponID},#{OID},now(),#{consumeTime},#{consumed})
	</insert>
	<!-- 用户未消费且未过期的券 -->
	<select id="getUnusedCoupon" resultMap="UserCashCouponEntityResultMap">
		select u.*,c.`code`,c.`value`,c.`start`,c.`end`,c.threshhold 
			from 
				user_cash_coupon u , cash_coupon c
			where u.coupon_id = c.id
				and u.uid=#{UID}
				and c.del=false
				and c.used=true
				and u.consumed=false
				and now() &lt;= c.`end`
				<if test="cashCoupon != null">
					<if test="cashCoupon.threshholdHigh!=null">
					and c.threshhold &lt;=#{cashCoupon.threshholdHigh}
					</if>
					<if test="cashCoupon.threshholdLow!=null">
					and c.threshhold &gt;=#{cashCoupon.threshholdLow}
					</if>
				</if>
				order by u.add_time DESC
				<if test="size!=null and size!=0">
				LIMIT offset,size
				</if>
	</select>
	<!-- 用户可使用的券数量 -->
	<select id="getUnusedCouponAmount" resultType="int">
		select count(1) from  
				user_cash_coupon u , cash_coupon c
			where u.coupon_id = c.id
				and u.uid=#{UID}
				and c.del=false
				and c.used=true
				and u.consumed=false
				and now() &lt;= c.`end`
				<if test="cashCoupon != null">
					<if test="cashCoupon.threshholdHigh!=null">
					and c.threshhold &lt;=#{cashCoupon.threshholdHigh}
					</if>
					<if test="cashCoupon.threshholdLow!=null">
					and c.threshhold &gt;=#{cashCoupon.threshholdLow}
					</if>
				</if>
	</select>
	<!-- 将消费状态置为true 并更新订单号 -->
	<update id="updateConsumeStatus">
		update user_cash_coupon 
		 set oid = #{OID},
		 consumed = true,
		 consume_time = now()
		 where coupon_id = #{couponID}
	</update>
	
	<select id="getUserCashCoupon" resultMap="UserCashCouponEntityResultMap">
		select u.*,c.`code`,c.`value`,c.`start`,c.`end`,c.threshhold 
			from 
				user_cash_coupon u , cash_coupon c
			where u.coupon_id = c.id
				and u.uid=#{uid}
				and c.id=#{couponID} 
	</select>
</mapper>
