<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.track.dao.TrackDao">
	<!-- 商品图片属性 goods_img i -->
	<sql id="imgAttr">
		i.Thumb_path_1 thumb_path_1,
		i.Thumb_path_2 thumb_path_2,
		i.Thumb_path_3 thumb_path_3,
		i.Thumb_path_4 thumb_path_4,
		i.Thumb_path_5 thumb_path_5,
		i.content content,
	</sql>
	<!-- 我的足迹商品信息 -->
	<resultMap type="com.jingyunbank.etrade.track.entity.FootprintGoodsEntity" id="selectFootprintGoods">
		<result column="visit_time" property="visitTime" javaType="java.util.Date"/>
		<result column="gid" property="GID"/>
		<result column="name" property="goodsName"/>
		<result column="price" property="price"/>
		<result column="now_price" property="nowPrice"/>
		<result column="thumb_path_1" property="thumb_path_1"/>
	</resultMap>
	<!-- 查询我的足迹商品列表 　 -->
	<select id="selectFootprintGoods"  resultMap="selectFootprintGoods">
	SELECT 
	*
			 from (
		select uid,gid,MAX(visit_time) as visit_time 
		from footprint
		where uid = '1'
		group by uid,gid
		ORDER BY visit_time desc
		) v inner join goods x
		 on 1=1 AND x.state=1
		and v.gid = x.id
		left join goods_img i
	    on v.gid = i.gid 
	    <if test="to > 0">
			limit #{from},#{to}
		</if>
	</select>
	<!-- 插入一条我的足迹 　 -->
	<insert id="insertFootprint" parameterType="com.jingyunbank.etrade.track.entity.FootprintEntity">
	insert into footprint
	(id,uid,gid,visit_time)
	values
	(#{ID},#{UID},#{GID},#{visitTime})
	</insert>
	<!-- 检验当前商品或者店家是否已收藏 -->
	<select id="isFavoritesExists" resultType="int" parameterType="map">
	select count(*) from favorites t where t.uid = #{uid} and type =#{type} and fid = #{fid}
	</select>
	<!-- 插入我的收藏 　 -->
	<insert id="insertFavorites" parameterType="com.jingyunbank.etrade.track.entity.FavoritesEntity">
	insert into favorites
	(id,uid,fid,type,collect_time)
	values
	(#{ID},#{UID},#{fid},#{type},#{collectTime})
	</insert>
	<!--查询我的收藏店铺及包含的商品信息 该语句需要修改 -->
	<resultMap type="com.jingyunbank.etrade.track.entity.FavoritesGoodsVEntity"
		id="favoritesGoodsVEntity">
		<!-- 商品概要信息 -->
		<result column="id" property="ID" />
		<result column="gid" property="GID" />
		<result column="name" property="goodsName" />
		<result column="weight" property="weight" />
		<result column="unit" property="unit" />
		<result column="price" property="price" />
		<result column="promotion_price" property="promotionPrice" />
		<result column="now_price" property="nowPrice" />
		<result column="thumb_path_1" property="thumb_path_1" />
		<!-- 品牌信息 -->
		<result column="bid" property="BID" />
		<result column="brandname" property="brandName" />
		<result column="branddesc" property="brandDesc" />
		<!--类型信息 -->
		<result column="tid" property="TID" />
		<result column="typename" property="typeName" />
		<result column="collect_time" property="collectTime" />
		<!-- 商家信息 -->
		<result column="merchant_name" property="merchantName" />
		<result column="tel" property="tel" />
		<result column="img_path" property="imgPath" />
		<result column="merchant_desc" property="merchantDesc" />
	</resultMap>
	<sql id="merchantFavoritesField">
		cid as id,g.id as gid,g.mid, b.id brand_id ,b.name brand_name,p.name type_name,g.name,
		g.price,g.now_price now_price , g.count count, g.volume volume
		,g.addtime addtime,g.collect_time,g.promotion_price,g.pro_flag,d.specifications,
		m.merchant_name,m.tel,m.img_path,m.merchant_desc,
		<include refid="imgAttr" />
		d.weight,d.unit ,t.strategy_name,t.parameter1
	</sql>
	<select id="selectMerchantFavorites" parameterType="java.util.Map" resultMap="favoritesGoodsVEntity">
		SELECT
		<include refid="merchantFavoritesField" />
	FROM (
		select c.id as cid,c.collect_time,x.* from favorites c
		inner join goods x
		<if test="type =='1'.toString()">
			<![CDATA[ on c.fid = x.mid  ]]>
		</if>
		<if test="type =='2'.toString()">
			<![CDATA[ on c.fid = x.id  ]]>
		</if>
		 and c.type = #{type} 
		 and uid = #{uid} 
		<if test="type =='1'.toString()">
			 <![CDATA[ 
			and (select count(*) 
		     from goods t
		     where x.mid = t.mid and x.up_time > t.up_time and t.state=1 ) < 3
			  ]]>
		</if>
		<if test="type =='1'.toString()">
			<![CDATA[ 
			and c.fid in ( select n.fid from (select fid from favorites where type = '1' and uid = #{uid}  order by collect_time desc limit #{from},#{to}) n)
			]]>
		</if>
		 order by c.fid 
		) g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_strategy s ON g.id=s.gid
		LEFT JOIN strategy t ON s.sid=t.id
		LEFT JOIN goods_brand b ON b.id=g.bid
		LEFT JOIN goods_img i ON g.id=i.gid
		LEFT JOIN merchant m ON g.mid=m.id
		LEFT JOIN goods_type p ON p.id = g.tid where 1=1 AND g.state=1
		<if test="type =='2'.toString()">
			limit #{from},#{to}
		</if>
	</select>
	<!-- 查询我的收藏数量 -->
	<select id="selectMerchantFavoritesCount" parameterType="java.util.Map" resultType="int">
		select count(*) from 
		favorites c
		where c.type = #{type} 
		 and uid = #{uid} 
	</select>
	<!--删除我的收藏信息 -->
	<delete id="deleteFavoritesById">
		delete from favorites where id in 
		<foreach collection="id" item="rid" open="(" separator="," close=")">
			#{rid}
		</foreach>
	</delete>
</mapper>
