<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.track.dao.TrackDao">
	<!-- 商品图片属性 goods_img i -->
	<sql id="imgAttr">
		i.Thumb_path_1 thumb_path_1,
		i.Thumb_path_2 thumb_path_2,
		i.Thumb_path_3 thumb_path_3,
		i.Thumb_path_4 thumb_path_4,
		i.Thumb_path_5 thumb_path_5,
		i.content content,
	</sql>
	<!-- 我的足迹商品信息 -->
	<resultMap type="com.jingyunbank.etrade.track.entity.FootprintGoodsEntity" id="selectFootprintGoods">
		<result column="visit_time" property="visitTime" javaType="java.util.Date"/>
		<result column="gid" property="GID"/>
		<result column="name" property="goodsName"/>
		<result column="price" property="price"/>
		<result column="now_price" property="nowPrice"/>
		<result column="thumb_path_1" property="thumbpath1"/>
	</resultMap>
	<!-- 查询我的足迹商品列表 　 -->
	<select id="selectFootprintGoods"  resultMap="selectFootprintGoods">
	SELECT 
	v.uid, v.gid, v.visit_time, 
	x.id, x.mid, x.bid, x.name, x.code, x.tid, x.price, x.promotion_price, x.now_price, x.state, x.up_time, 
	x.down_time, x.count, x.volume, x.addtime, x.postage, x.sub_volume_type, x.barCode, x.desc, x.title, x.admin_sort,
	 x.merchant_sort, x.expand_sort, x.record_sort, x.pro_start, x.pro_end, x.pro_flag,
	 i.id as iid, i.thumb_path_1, i.thumb_path_2, i.thumb_path_3, i.thumb_path_4, i.thumb_path_5, i.content
			 from (
		select uid,gid,MAX(visit_time) as visit_time 
		from footprint
		where uid = #{uid}
		group by uid,gid
		ORDER BY visit_time desc
		) v inner join goods x
		 on 1=1 AND x.state=1
		and v.gid = x.id
		left join goods_img i
	    on v.gid = i.gid 
	    <if test="to > 0">
			limit #{from},#{to}
		</if>
	</select>
	<!-- 插入一条我的足迹 　 -->
	<insert id="insertFootprint" parameterType="com.jingyunbank.etrade.track.entity.FootprintEntity">
	insert into footprint
	(id,uid,gid,visit_time)
	values
	(#{ID},#{UID},#{GID},#{visitTime})
	</insert>
	<!-- 检验当前商品或者店家是否已收藏 -->
	<select id="isFavoritesExists" resultType="int" parameterType="map">
	select count(*) from favorites t where t.uid = #{uid} and type =#{type} and fid = #{fid}
	</select>
	<!-- 插入我的收藏 　 -->
	<insert id="insertFavorites" parameterType="com.jingyunbank.etrade.track.entity.FavoritesEntity">
	insert into favorites
	(id,uid,fid,type,collect_time)
	values
	(#{ID},#{UID},#{fid},#{type},#{collectTime})
	</insert>
	<!--查询我的收藏店铺及包含的商品信息 该语句需要修改 -->
	<resultMap type="com.jingyunbank.etrade.track.entity.FavoritesGoodsVEntity"
		id="favoritesGoodsVEntity">
		<!-- 商品概要信息 -->
		<result column="id" property="ID" />
		<result column="gid" property="GID" />
		<result column="name" property="goodsName" />
		<result column="weight" property="weight" />
		<result column="unit" property="unit" />
		<result column="price" property="price" />
		<result column="promotion_price" property="promotionPrice" />
		<result column="now_price" property="nowPrice" />
		<result column="thumb_path_1" property="thumbpath1" />
		<result column="pro_flag" property="onSale" />
		<!-- 品牌信息 -->
		<result column="bid" property="BID" />
		<result column="brandname" property="brandName" />
		<result column="branddesc" property="brandDesc" />
		<!--类型信息 -->
		<result column="tid" property="TID" />
		<result column="typename" property="typeName" />
		<result column="collect_time" property="collectTime" />
		<!-- 商家信息 -->
		<result column="merchant_name" property="merchantName" />
		<result column="mid" property="MID" />
		<result column="tel" property="tel" />
		<result column="img_path" property="imgPath" />
		<result column="merchant_desc" property="merchantDesc" />
	</resultMap>
	<sql id="merchantFavoritesField">
		cid as id,g.id as gid,g.mid, b.id brand_id ,b.name brand_name,p.name type_name,g.name,
		g.price,g.now_price now_price , g.count count, g.volume volume
		,g.addtime addtime,g.collect_time,g.promotion_price,g.pro_flag,d.specifications,
		m.name as merchant_name,m.tel,m.img_path,m.merchant_desc,
		<include refid="imgAttr" />
		d.weight,d.unit ,t.strategy_name,t.parameter1
	</sql>
	<select id="selectMerchantFavorites" parameterType="java.util.Map" resultMap="favoritesGoodsVEntity">
		SELECT
		<include refid="merchantFavoritesField" />
	FROM (
		select c.id as cid,c.collect_time,x.* from favorites c
		inner join goods x
		<if test="type =='1'.toString()">
			<![CDATA[ on c.fid = x.mid  ]]>
		</if>
		<if test="type =='2'.toString()">
			<![CDATA[ on c.fid = x.id  ]]>
		</if>
		 and c.type = #{type} 
		 and uid = #{uid} 
		<if test="type =='1'.toString()">
			 <![CDATA[ 
			and (select count(*) 
		     from goods t
		     where x.mid = t.mid and x.up_time > t.up_time and t.state=1 ) < 3
			  ]]>
		</if>
		<if test="type =='1'.toString()">
			<![CDATA[ 
			and c.fid in ( select n.fid from (select fid from favorites where type = '1' and uid = #{uid}  order by collect_time desc limit #{from},#{to}) n)
			]]>
		</if>
		 order by c.fid 
		) g
		LEFT JOIN goods_detail d ON g.id=d.gid
		LEFT JOIN goods_strategy s ON g.id=s.gid
		LEFT JOIN strategy t ON s.sid=t.id
		LEFT JOIN goods_brand b ON b.id=g.bid
		LEFT JOIN goods_img i ON g.id=i.gid
		LEFT JOIN merchant m ON g.mid=m.id
		LEFT JOIN goods_type p ON p.id = g.tid where 1=1 AND g.state=1 order by g.collect_time desc,g.mid
		<if test="type =='2'.toString()">
			limit #{from},#{to}
		</if>
	</select>
	<!-- 查询我的收藏数量 -->
	<select id="selectMerchantFavoritesCount" parameterType="java.util.Map" resultType="int">
		select count(1) from 
		favorites c
		where c.type = #{type} 
		 and uid = #{uid} 
	</select>
	<!--删除我的收藏信息 -->
	<delete id="deleteFavoritesById">
		delete from favorites where id in 
		<foreach collection="id" item="rid" open="(" separator="," close=")">
			#{rid}
		</foreach>
	</delete>
	<!--查询广告列表 -->
	<resultMap  id="rlt_addetail" type="com.jingyunbank.etrade.track.entity.AdDetailEntity">
	     <id column="id" property="ID"/>
    	 <result column="ad_module_id" property="adModuleId"/>
    	 <result column="sort_num" property="sortNum"/>
    	 <result column="ad_module_name" property="adModuleName"/>
	</resultMap>
	<resultMap  id="rlt_admodule" type="com.jingyunbank.etrade.track.entity.AdModuleEntity">
	     <id column="id" property="ID"/>
	</resultMap>
	<select id = "selectAdDetails" resultMap="rlt_addetail" >
	select 
	a.id,a.ad_module_id,a.name,a.imgpath,a.linkpath,a.description,a.sort_num,a.attr1,a.attr2,a.attr3,a.attr4
	 from ad_detail a ,ad_module b
	where a.ad_module_id = b.id
	and b.code = #{code} order by a.sort_num asc;
	</select>
	<!-- 通过id查询广告模块的信息 -->
 	<select id="selectAdmoduleById" resultMap="rlt_admodule">
 			select id,code,name,imgpath,description from ad_module where id=#{id}
 	</select>
 	<!-- 通过id查询广告模块的信息 -->
 	<select id="selectAddetailById" resultMap="rlt_addetail">
 			select id,ad_module_id,name,imgpath,linkpath,description,sort_num,attr1,attr2,attr3,attr4 from ad_detail where id=#{id}
 	</select>
 	<!--添加广告模块信息 -->
	<insert id="insertAdModule" parameterType="com.jingyunbank.etrade.track.entity.AdModuleEntity">
			INSERT INTO ad_module(id,code,name,imgpath,description)
			VALUES 
			(#{ID},#{code},#{name},#{imgpath},#{description});
	</insert>
	<!--添加广告信息 -->
	<insert id="insertAdDetail" parameterType="com.jingyunbank.etrade.track.entity.AdDetailEntity">
			INSERT INTO ad_detail(id,ad_module_id,name,imgpath,linkpath,description,sort_num,attr1,attr2,attr3,attr4)
			VALUES 
			(#{ID},#{adModuleId},#{name},#{imgpath},#{linkpath},#{description},#{sortNum},#{attr1},#{attr2},#{attr3},#{attr4});
	</insert>
	<!--修改广告模块信息 -->
	<update id="updateAdmodule" parameterType="com.jingyunbank.etrade.track.entity.AdModuleEntity">
			update ad_module set
			code = #{code},
			name = #{name},
			imgpath = #{imgpath},
			description = #{description}
			where id = #{ID}
	</update>
	<!--修改广告信息 -->
	<update id="updateAddetail" parameterType="com.jingyunbank.etrade.track.entity.AdDetailEntity">
			update ad_detail set
			ad_module_id = #{adModuleId},
			name = #{name},
			imgpath = #{imgpath},
			linkpath = #{linkpath},
			description = #{description},
			sort_num = #{sortNum},
			attr1 = #{attr1},
			attr2 = #{attr2},
			attr3 = #{attr3},
			attr4 = #{attr4}
			where id = #{ID}
	</update>
	<!--根据条件查询所有广告模块列表 -->
	<select id="selectModulesByCondition" parameterType="java.util.Map"
		resultMap="rlt_admodule">
		select id,code,name,imgpath,description from ad_module  t
		<if test="name !='' and name !=null ">
			 where t.name LIKE CONCAT(CONCAT('%', #{name}), '%')
		</if>
		<if test="size > 0">
			limit #{from},#{size}
		</if>
	</select>
	<!--根据条件查询所有广告模块列表 -->
	<select id="selectAddetailsByCondition" parameterType="java.util.Map"
		resultMap="rlt_addetail">
		select 
		d.id,d.ad_module_id,d.name,d.imgpath,d.linkpath,d.description,d.sort_num,d.attr1,d.attr2,d.attr3,d.attr4,
		m.`name` as ad_module_name  From ad_module m ,ad_detail d 
		where m.id = d.ad_module_id
		and d.name LIKE CONCAT(CONCAT('%', #{name}), '%')
		and d.ad_module_id = #{adModuleId}
		LIMIT #{from} , #{size}
	</select>
	<!--删除广告信息 -->
	<delete id="deleteAddetail">
		delete from ad_detail where id in 
		<foreach collection="id" item="rid" open="(" separator="," close=")">
			#{rid}
		</foreach>
	</delete>
	<!--删除广告模块信息 -->
	<delete id="deleteAdmodule">
		delete from ad_module where id in 
		<foreach collection="id" item="rid" open="(" separator="," close=")">
			#{rid}
		</foreach>
	</delete>
	<!-- 查询广告数量 -->
	<select id="selectAddetailsCount" resultType="int">
		select count(*) from 
		ad_detail t
		where t.ad_module_id in
		<foreach collection="id" item="rid" open="(" separator="," close=")">
			#{rid}
		</foreach>
	</select>
	<!-- 查询推荐品牌 -->
	<select id="selectRecommendBidstr" parameterType="java.util.Map" resultType="map">
		 select uid,GROUP_CONCAT(bid) as bidstr from (
			select distinct uid,bid from 
			v_recommend_goods v,goods g
			where v.gid = g.id
			and v.uid = #{uid}
			) t group by t.uid
	</select>
	<!-- 查询推荐类别 -->
	<select id="selectRecommendTidstr" parameterType="java.util.Map" resultType="map">
		 select uid,GROUP_CONCAT(tid) as tidstr from (
			select distinct uid,tid from 
			v_recommend_goods v,goods g
			where v.gid = g.id
			and v.uid = #{uid}
			) t group by t.uid
	</select>
	<!-- 查询推荐商品 -->
	<resultMap type="com.jingyunbank.etrade.track.entity.RecommendGoodsEntity" id="rltRecommendGoods">
		<result column="id" property="GID"/>
		<result column="name" property="goodsName"/>
		<result column="pro_flag" property="onSale" />
		<result column="thumb_path_1" property="thumbpath1" />
	</resultMap>
	<select id="selectRecommendGoods"  resultMap="rltRecommendGoods">
			select 
			g.id, g.mid, g.bid, g.name, g.code, g.tid, g.price, g.promotion_price, g.now_price, g.state, g.up_time, 
			g.down_time, g.count, g.volume, g.addtime, g.postage, g.sub_volume_type, g.barCode, g.desc, g.title, g.admin_sort,
			 g.merchant_sort, g.expand_sort, g.record_sort, g.pro_start, g.pro_end, g.pro_flag,
			i.thumb_path_1 as thumb_path_1,d.specifications from goods g left join goods_detail d 
			on g.id = d.gid
			LEFT JOIN goods_img i ON g.id=i.gid
			where 1=1 
			<if test="uid !='' and uid !=null"> 
				and g.bid in
			  <foreach collection="bids" item="bid" open="(" separator="," close=")">
				#{bid}
			  </foreach>
			  	and g.tid in
			   <foreach collection="tids" item="tid" open="(" separator="," close=")">
				#{tid}
			   </foreach>
		   </if>
		  LIMIT #{from} , #{to}
	</select>
	<!-- 查询推荐商品 -->
	<resultMap type="com.jingyunbank.etrade.track.entity.OtherGoodsEntity" id="rltOtherGoods">
		<result column="id" property="GID"/>
		<result column="name" property="goodsName"/>
		<result column="pro_flag" property="onSale" />
	</resultMap>
	<select id="selectOtherGoods"  resultMap="rltOtherGoods" parameterType="java.util.Map">
	<![CDATA[
		 select 
		 g.id, g.mid, g.bid, g.name, g.code, g.tid, g.price, g.promotion_price, g.now_price, g.state, g.up_time, 
			g.down_time, g.count, g.volume, g.addtime, g.postage, g.sub_volume_type, g.barCode, g.desc, g.title, g.admin_sort,
			 g.merchant_sort, g.expand_sort, g.record_sort, g.pro_start, g.pro_end, g.pro_flag 
		 from (
			select a.uid,a.gid, sum(count) as r_count From sales_records a where  exists
			(
			select 1 from sales_records b where gid = #{gid}
			and a.uid = b.uid
			)
			and a.gid <> #{gid}
			and a.uid <> #{uid}
			group by a.uid,a.gid
			order by r_count desc
			) c left join goods g
			on c.gid = g.id
			 LIMIT #{from} , #{to}
	]]>
	</select>
</mapper>
