<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.jingyunbank.etrade.comment.dao.CommentsDao">
		<resultMap type="com.jingyunbank.etrade.comment.entity.CommentsEntity" id="ResultMap">
			<id column="id" property="ID" jdbcType="CHAR"/>
			<result column="uid" property="UID" jdbcType="CHAR"/>
			<result column="oid" property="OID" jdbcType="CHAR"/>
			<result column="reply_uid" property="replyUID"/>
			<result column="gid" property="GID" jdbcType="CHAR"/>
			<result column="reply_comment" property="replyComment"/>
			<result column="goods_comment" property="goodsComment" javaType="String" />
			<result column="comment_grade" property="commentGrade"/>
			<result column="goods_service" property="goodsService" jdbcType="VARCHAR"/>
			<result column="service_grade" property="serviceGrade" jdbcType="INTEGER"/>
			<result column="logistics_grade" property="logisticsGrade" />
			<result column="addtime" property="addtime" javaType="java.util.Date"/>
			<result column="status" property="commentStatus" jdbcType="INTEGER"/>
			<result column="sort" property="sort" jdbcType="INTEGER"/>
		</resultMap>
		<sql id="comment_list">
			id,uid,oid,reply_uid,gid,reply_comment,goods_comment,comment_grade,goods_service,service_grade,logistics_grade,addtime,status,sort
		</sql>
		<!-- 添加评价的信息 -->
		<insert id="insert" parameterType="com.jingyunbank.etrade.comment.entity.CommentsEntity">
		insert into comment(
			id,uid,oid,reply_uid,gid,reply_comment,goods_comment,comment_grade,goods_service,service_grade,logistics_grade,addtime,status,sort
		)values(
			#{ID},#{UID},#{OID},#{replyUID},#{GID},#{replyComment},#{goodsComment},#{commentGrade},#{goodsService},#{serviceGrade},#{logisticsGrade},#{addtime},#{commentStatus},#{sort}
		)
		</insert>
		<!-- 通过gid查询评论信息，多条 -->
		<select id="selectCommentByGid" resultMap="ResultMap">
		   select 
		   <include refid="comment_list"></include>
		   from comment where gid=#{GID}
		   order by addtime desc,sort desc
		</select>
		<!-- 通过gid和评论级别查询评论信息，多条 -->
		<select id="selectCommentGradeByGid" resultMap="ResultMap">
		   select 
		   <include refid="comment_list"></include>
		   from comment where gid=#{GID}
		   	<if test="commentGrade!=0">
		   		<if test="commentGrade >=8">
		   			and comment_grade  &gt;8
		   		</if>
		   		<if test="commentGrade &lt;8  &amp;&amp; commentGrade &gt;5">
		   			and comment_grade &lt;8 &amp;&amp; comment_grade &gt;5
		   		</if> 
		   		<if test="commentGrade &lt;6">
		   			and comment_grade &lt;6
		   		</if>
		   </if>
		   order by addtime desc,sort desc
		   <if test="offset!=null and size!=null and size!=0">
			LIMIT #{offset,javaType=LONG},#{size,javaType=LONG}
			</if>
		</select>
		<!-- 通过id查询出评论信息 -->
		<select id="selectById" parameterType="String" resultMap="ResultMap">
			select <include refid="comment_list"></include>
			from comment where id=#{ID}
		</select>
		<!-- 通过id删除评论信息 -->
		<delete id="delete" parameterType="String">
			delete from comment where id=#{ID}
		</delete>
		<!-- 修改评价的状态 -->
		<update id="updateStatus" parameterType="com.jingyunbank.etrade.comment.entity.CommentsEntity">
			update comment c set c.status=#{commentStatus}
			where id=#{ID}
		</update>
		<!-- 通过oid查出产品判断状态 -->
		<select id="selectCommentByOid" parameterType="String" resultMap="ResultMap">
			select <include refid="comment_list"></include>
			from comment where oid=#{OID}
		</select>
		<!-- 通过gid查出该商品的总条数 -->
		<select id="commentCount" resultType="int" parameterType="string">
		select count(id) from comment where gid=#{GID}
	</select>
		
	</mapper>