<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.jingyunbank.etrade.comment.dao.CommentsImgDao">
	<resultMap type="com.jingyunbank.etrade.comment.entity.CommentsImgEntity" id="ResultMap">
		<id column="id" property="ID"/>
		<result column="comment_id" property="commentID"/>
		<result column="picture" property="picture"/>
	</resultMap>
	<insert id="insert" parameterType="com.jingyunbank.etrade.comment.entity.CommentsImgEntity">
		insert into comment_img(
		id,comment_id,picture
		)values(
		#{ID},#{commentID},#{picture}
		)
	</insert>
	<select id="selectById" resultMap="ResultMap" parameterType="String">
		select id,comment_id,picture from comment_img where comment_id=#{commentID}
	</select>
	<select id="selectImg" resultMap="ResultMap">
	select id,comment_id,picture from comment_img
	</select>
	<delete id="delete" parameterType="String">
		delete from comment_img where comment_id=#{comment_id}
	</delete>
	<select id="getById" resultMap="ResultMap" parameterType="String">
		select id,comment_id,picture from comment_img where id=#{ID}
	</select>
	</mapper>