<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.marketing.group.dao.GroupOrderDao">
	<resultMap type="com.jingyunbank.etrade.marketing.group.entity.GroupOrderEntity" id="GroupOrderEntityResultMap">
		<id column="id" property="ID" />
		<result column="group_id" property="groupID" />
		<result column="group_user_id" property="groupUserID" />
		<result column="oid" property="OID" />
		<result column="orderno" property="orderno" />
		<result column="type" property="type" />
		
		
		<result column="addtime" property="addtime" />
		<result column="postage" property="postage" />
	</resultMap>
	
	<sql id="base_column">
		go.id,go.group_id,go.group_user_id,go.oid,go.orderno,go.type
	</sql>
	
	<insert id="insert">
		insert into group_order go (<include refid="base_column"/>) values(#{ID},#{groupID},#{groupUserID},#{OID},#{orderno},#{type})
	</insert>
	
	<select id="selectOne" resultMap="GroupOrderEntityResultMap">
		select <include refid="base_column"/> from group_order go where go.id=#{ID}
	</select>
	
	<select id="selectByOID" resultMap="GroupOrderEntityResultMap">
		select <include refid="base_column"/> from group_order go where go.oid=#{OID}
	</select>
	
	<!-- <select id="selectList" resultMap="GroupOrderEntityResultMap">
		select <include refid="base_column"/> from group_order where group_user_id=#{groupUserID}
	</select> -->
	
	<select id="selectListByType" resultMap="GroupOrderEntityResultMap">
		select <include refid="base_column"/> from group_order go where go.group_user_id=#{groupUserID} and go.type=#{type}
	</select>
	<select id="selectByGroupUserID" resultMap="GroupOrderEntityResultMap">
		select <include refid="base_column"/>,o.addtime addtime,o.postage postage from group_order go
		left join orders o on o.id=go.oid
		 where group_user_id=#{groupUserID}
	</select>
	
</mapper>
