<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.marketing.group.dao.GroupDao">
	<resultMap type="com.jingyunbank.etrade.marketing.group.entity.GroupEntity" id="GroupEntityResultMap">
		<id column="id" property="ID" javaType="String"/>
		<result column="leader_uid" property="leaderUID" javaType="String"/>
		<result column="start" property="start" javaType="java.util.Date"/>
		<result column="group_goods_id" property="groupGoodsID" javaType="String"/>
		<result column="status" property="status" javaType="String"/>
		<association property="goods" javaType="com.jingyunbank.etrade.marketing.group.entity.GroupGoodsEntity">
			<id column="gid" property="ID"/>
			<result column="minpeople" property="minpeople" jdbcType="INTEGER"/>
			<result column="duration" property="duration" jdbcType="INTEGER"/>
			<result column="deadline" property="deadline" javaType="java.util.Date"/>
			<result column="skuid" property="SKUID" javaType="String"/>
		</association>
		<collection property="buyers" javaType="ArrayList" ofType="com.jingyunbank.etrade.marketing.group.entity.GroupUserEntity">
			<id column="buyers_id" property="ID" />
			<result column="buyers_group_id" property="groupID" />
			<result column="buyers_uid" property="UID" />
			<result column="buyers_jointime" property="jointime" />
			<result column="buyers_paid" property="paid" />
			<result column="buyers_status" property="status" />
			
		</collection>
	</resultMap>
	
	<sql id="base_column">
		id,leader_uid,start,group_goods_id,status
	</sql>
	<sql id="group_with_buyers">
		g.id,g.group_goods_id,g.leader_uid,g.`start`,g.`status`,
		gu.id buyers_id,gu.group_id buyers_group_id, gu.jointime buyers_jointime ,gu.uid buyers_uid,gu.paid buyers_paid
	</sql>
	
	<sql id="group_with_buyers_goods">
		g.id,g.group_goods_id,g.leader_uid,g.`start`,g.`status`,
		gu.id buyers_id,gu.group_id buyers_group_id, gu.jointime buyers_jointime ,gu.uid buyers_uid,gu.paid buyers_paid,gu.status buyers_status,
		gg.id gid ,gg.minpeople minpeople,gg.duration,gg.deadline ,gg.skuid
	</sql>
	
	<sql id="group_with_goods">
		g.id,g.group_goods_id,g.leader_uid,g.`start`,g.`status`,
		gg.id gid ,gg.minpeople minpeople,gg.duration,gg.deadline ,gg.skuid
	</sql>
	
	
	<insert id="insert">
		insert into groups (<include refid="base_column"/>) values(#{ID},#{leaderUID},#{start},#{groupGoodsID},#{status})
	</insert>
	
	<select id="selectOne" resultMap="GroupEntityResultMap">
		select <include refid="group_with_buyers"/>  
				from groups g LEFT JOIN group_user gu on g.id=gu.group_id where g.id=#{ID}
	</select>
	
	<update id="updateStatus">
		update groups set status=#{status} where id=#{ID}
	</update>
	
	<select id="selectList" resultMap="GroupEntityResultMap">
		select <include refid="base_column"/>  
				from groups g where g.status=#{status}
	</select>
	
	<select id="selectListOnDeadline" resultMap="GroupEntityResultMap">
		select <include refid="group_with_buyers_goods"/> from groups g
			LEFT JOIN  group_user gu  ON gu.group_id=g.id
			left JOIN group_goods gg on g.group_goods_id = gg.id 
		where
		 g.`status`='CONVENING' and gu.`status`='PAID' and gg.deadline &lt;= now() 
	</select>
	
	<select id="selectListOnSuccess" resultMap="GroupEntityResultMap">
		select <include refid="group_with_buyers_goods"/> from groups g
			LEFT JOIN  group_user gu  ON gu.group_id=g.id
			inner JOIN group_goods gg on g.group_goods_id = gg.id 
		where g.`status`='CONVENING' 
		 	and( select count(1) from group_user gu  where gu.group_id=g.id and gu.`status`='PAID' )&gt;=gg.minpeople

	</select>
	
	<select id="selectListStartFail" resultMap="GroupEntityResultMap">
		select <include refid="group_with_buyers"/> from groups g
			LEFT JOIN  group_user gu  ON gu.group_id=g.id and g.leader_uid = gu.uid
		where g.`status`='NEW' and gu.status = 'CLOSED'

	</select>
	
	<select id="selectListConveneTimeOut" resultMap="GroupEntityResultMap">
		select <include refid="group_with_buyers_goods"/> from groups g
			left JOIN group_goods gg on g.group_goods_id = gg.id 
			LEFT JOIN  group_user gu  ON gu.group_id=g.id 
		where g.`status`='CONVENING' 
			and TIME_TO_SEC(g.start)+gg.duration &lt; TIME_TO_SEC(now())
			and ( select count(1) from group_user gu  where gu.group_id=g.id and gu.`status`='PAID' )&lt;gg.minpeople
	</select>
	
	<select id="selectListStartSuccess" resultMap="GroupEntityResultMap">
		select <include refid="group_with_buyers"/> from groups g
			LEFT JOIN  group_user gu  ON gu.group_id=g.id
		where g.`status`='NEW' 
			and gu.status='PAID'
	</select>
	
	
</mapper>
