<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.marketing.group.dao.GroupGoodsPriceSettingDao">
	<resultMap type="com.jingyunbank.etrade.marketing.group.entity.GroupGoodsPriceSettingEntity" id="GroupGoodsPriceSettingEntityResultMap">
		<id column="id" property="ID" javaType="String"/>
		<result column="ggid" property="GGID" javaType="String"/>
		<result column="floor" property="floor" jdbcType="INTEGER"/>
		<result column="ceiling" property="ceiling" jdbcType="INTEGER"/>
		<result column="price" property="price" jdbcType="DECIMAL"/>
	</resultMap>
	<sql id="group_goods_price_setting_columns">
		`id`, `ggid`, `floor`, `ceiling`, `price`
	</sql>
	<insert id="insertMany">
		insert into group_goods_price_setting
			(<include refid="group_goods_price_setting_columns"/>)
		values
		<foreach collection="settings" item="setting" separator="," open="" close="">
			(
			 #{setting.ID}, #{setting.GGID}, #{setting.floor}, #{setting.ceiling}, #{setting.price}
			)
		</foreach>
	</insert>
	<select id="selectMany" parameterType="String"  resultMap="GroupGoodsPriceSettingEntityResultMap">
		select <include refid="group_goods_price_setting_columns"/>
		from group_goods_price_setting 
		where ggid = #{ggid}
	</select>
</mapper>
