<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.jingyunbank.etrade.advice.dao.AdviceDetailsDao">
		<resultMap type="com.jingyunbank.etrade.advice.entity.AdviceDetailsEntity" id="AdviceDetailsResultMap">
			<id column="id" property="ID"/>
			<result column="sid" property="SID"/>
			<result column="name" property="name"/>
			<result column="title" property="title"/>
			<result column="content" property="content"/>
			<result column="publish" property="publish"/>
			<result column="addtime" property="addtime"/>
			<result column="status" property="status"/>
			<result column="orders" property="orders" />
		</resultMap>
	<sql id="details_list">
		id,sid,name,title,content,publish,addtime,status,orders
	</sql>
	<!-- 增加详情内容 -->
		<insert id="insert" parameterType="com.jingyunbank.etrade.advice.entity.AdviceDetailsEntity">
			insert into advice_details(
				id,sid,name,title,content,publish,addtime,status,orders
			)values(
				#{ID},#{SID},#{name},#{title},#{content},#{publish},#{addtime},#{status},#{orders}
			)
		</insert>
		<!-- 通过id删除对应的信息 -->
		<delete id="delete" parameterType="String">
			delete from advice_details where id=#{ID}	
		</delete>
		<!-- 通过id修改对应属性的值 -->
		<update id="update" parameterType="com.jingyunbank.etrade.advice.entity.AdviceDetailsEntity">
			update advice_details a 
			set 
			
			<if test="SID!=null and SID!=''">
			a.sid=#{SID},
			</if>
			<if test="name!=null and name!=''">
			a.name=#{name},
			</if>
			<if test="title!=null and title!=''">
			a.title=#{title},
			</if>
			<if test="content!=null and content!=''">
			a.content=#{content},
			</if>
			<if test="publish!=null and publish!=''">
			a.publish=#{publish},
			</if>
			<if test="addtime!=null and addtime!=''">
			a.addtime=#{addtime},
			</if>
			<if test="status!=null and status!=''">
			a.status=#{status},
			</if>
			<if test="orders!=null and orders!=''">
			a.orders=#{orders},
			</if>
			a.id=#{ID}
			where a.id=#{ID}
		</update>
		<!-- 通过sid查出对应多个详情内容 -->
		<select id="selectDetailsBySid" parameterType="String" resultMap="AdviceDetailsResultMap">
			select <include refid="details_list"></include>
			from advice_details where
			sid=#{SID}
			order by orders desc,publish desc
		</select>
		<!-- 通过id查出每一条信息的详细内容啊 -->
		<select id="selectDetailByid" parameterType="String" resultMap="AdviceDetailsResultMap">
			select <include refid="details_list"></include>
			from advice_details where
			id=#{ID}
		</select>
	</mapper>
	
	
	