<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.jingyunbank.etrade.information.dao.HelpCenterCategoryDao">
		<resultMap type="com.jingyunbank.etrade.information.entity.HelpCenterCategoryEntity" id="HelpCenterCategoryResultMap">
			<id column="id" property="ID"/>
			<result column="name" property="name"/>
			<result column="valid" property="valid"/>
			<result column="sort" property="sort"/>
			<result column="add_time" property="addTime"/>
			<result column="update_time" property="updateTime"/>
			<result column="update_uid" property="updateUID"/>
			<collection property="helpCenterDetailList" javaType="ArrayList" ofType="com.jingyunbank.etrade.information.entity.HelpCenterDetailEntity" >
				<result column="detail_id" property="ID"/>
				<result column="detail_name" property="name"/>
				<result column="detail_sort" property="sort"/>
			</collection>
		</resultMap>
		<sql id="base_column_list">
			id,name,valid,sort,add_time,update_time,update_uid
		</sql>
		
		<sql id="join_column_list">
			category.id,category.name,category.valid,category.sort,category.add_time,category.update_time,category.update_uid,
			detail.id detail_id,detail.name  detail_name,detail.sort detail_sort
		</sql>
		
		<insert id="insert">
			insert into help_center_category(<include refid="base_column_list"/>)
			values(#{ID},#{name},#{valid},#{sort},now(),now(),#{updateUID})
		</insert>
		
		<update id="update">
			update  help_center_category set
				<if test="name!=null and !''.equals(name)">
					name=#{name},
				</if>
				<if test="sort!=null and !''.equals(sort) and sort!=0">
					sort=#{sort},
				</if>
				<if test="updateUID!=null and !''.equals(updateUID)">
					update_uid=#{updateUID},
				</if>
				update_time = now()
				
			where id=#{ID}
		</update>
		
		<update id="updateValid">
			update help_center_category set valid=#{valid},update_time = now()
				where id=#{ID}		
		</update>
		
		<select id="selectValidListPage" resultMap="HelpCenterCategoryResultMap">
			select <include refid="join_column_list"/> 
				from help_center_category category 
					LEFT JOIN help_center_detail detail on category.id = detail.parent_id
				where category.valid=true and detail.valid=TRUE
				order by category.sort,detail.sort
					limit #{offset},#{size}
		</select>
		<select id="selectValidList" resultMap="HelpCenterCategoryResultMap">
			select <include refid="join_column_list"/> 
				from help_center_category category 
					LEFT JOIN help_center_detail detail on category.id = detail.parent_id
				where category.valid=true and detail.valid=TRUE
				order by category.sort,detail.sort
		</select>
		<select id="selectSingle" resultMap="HelpCenterCategoryResultMap">
			select <include refid="base_column_list"/> from help_center_category where id=#{ID}
		</select>
		
		
	</mapper>