<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.jingyunbank.etrade.information.dao.InformationSiteDao">
		<resultMap type="com.jingyunbank.etrade.information.entity.InformationSiteEntity" id="InformationSiteResultMap">
			<id column="id" property="ID"/>
			<result column="site_id" property="SiteID"/>
			<result column="name" property="name"/>
		</resultMap>
		<!-- 添加二级菜单中的多个标题 -->
		<insert id="insert" parameterType="com.jingyunbank.etrade.information.entity.InformationSiteEntity">
			insert into information_site(
			id,site_id,name
			)values(
			#{ID},#{SiteID},#{name}
			)
		</insert>
		<!-- 通过site_id查出对应的多个标题 -->
		<select id="selectSitesBySiteid" parameterType="String" resultMap="InformationSiteResultMap">
			select id,site_id,name from information_site where site_id=#{SiteID}
		</select>
		<select id="selectSitesByName" parameterType="String" resultMap="InformationSiteResultMap">
			select id,site_id,name from information_site where name=#{name}
		</select>
	</mapper>