<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.area.dao.CityDao">
	<resultMap type="com.jingyunbank.etrade.area.entity.CityEntity" id="cityResultMap">
		<id column="city_id" property="cityID"/>
		<result column="city_name" property="cityName" />
		<result column="zip_code" property="zipCode" />
		<result column="province_id" property="provinceID" />
	</resultMap>
	<sql id="city_column">
		city_id,city_name,zip_code,province_id
	</sql>
	
	<insert id="insert">
		insert city(<include refid="city_column"/>)
		values(#{cityID},#{cityName},#{zipCode},#{provinceID})
	</insert>
	<delete id="delete">
		delete  from city where city_id = #{cityID}
	</delete>
	<update id="update">
		update city set 
			city_id=#{cityID}
			<if test="cityName!=null and cityName!=''">
				, city_name=#{cityName}
			</if>
			<if test="zipCode!=null and zipCode!=''">
				, zip_code=#{zipCode}
			</if>
			<if test="provinceID!=null and provinceID!=0">
				, province_id=#{provinceID}
			</if>
		where city_id=#{cityID}
	</update>
	<select id="select" resultMap="cityResultMap">
		select <include refid="city_column"/>
		from city
		where 1=1
		<if test="cityID!=null and cityID!=0">
			and city_id=#{cityID}
		</if>
		<if test="cityName!=null and cityName!=''">
			and city_name=#{cityName}
		</if>
		<if test="zipCode!=null and zipCode!=''">
			and zip_code=#{zipCode}
		</if>
		<if test="provinceID!=null and provinceID!=0">
			and province_id=#{provinceID}
		</if>
		order by city_id
		<if test="size!=null and size!=0">
			limit offset,size
		</if>
	</select>

</mapper>	