<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.area.dao.CountryDao">
	<resultMap type="com.jingyunbank.etrade.area.entity.CountryEntity" id="countryResultMap">
		<id column="country_id" property="countryID"/>
		<result column="country_name" property="countryName" />
	</resultMap>
	<sql id="country_column">
		country_id,country_name 
	</sql>
	
	<insert id="insert">
		insert country(<include refid="country_column"/>)
		values(#{countryID},#{countryName})
	</insert>
	<delete id="delete">
		delete  from country where country_id = #{countryID}
	</delete>
	<update id="update">
		update country set 
			country_id=#{countryID}
			<if test="countryName!=null and countryName!=''">
				, country_name=#{countryName}
			</if>
		where country_id=#{countryID}
	</update>
	<select id="select" resultMap="countryResultMap">
		select <include refid="country_column"/>
		from country
		where 1=1
		<if test="countryID!=null and countryID!=0">
			and country_id=#{countryID}
		</if>
		<if test="countryName!=null and countryName!=''">
			and country_name=#{countryName}
		</if>
		order by country_id
		<if test="size!=null and size!=0">
			limit offset,size
		</if>
	</select>

</mapper>	