<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.area.dao.ProvinceDao">
	<resultMap type="com.jingyunbank.etrade.area.entity.ProvinceEntity" id="provinceResultMap">
		<id column="province_id" property="provinceID"/>
		<result column="province_name" property="provinceName" />
		<result column="country_id" property="countryID" />
		<result column="faraway" property="faraway" />
	</resultMap>
	<sql id="province_column">
		province_id,province_name,country_id,faraway
	</sql>
	
	<insert id="insert">
		insert province(<include refid="province_column"/>)
		values(#{provinceID},#{provinceName},#{countryID},#{faraway})
	</insert>
	<delete id="delete">
		delete  from province where province_id = #{provinceID}
	</delete>
	<update id="update">
		update province set 
			province_id=#{provinceID}
			<if test="provinceName!=null and provinceName!=''">
				, province_name=#{provinceName}
			</if>
			<if test="countryID!=null and countryID!=0">
				, country_id=#{countryID}
			</if>
		where province_id=#{provinceID}
	</update>
	<select id="select" resultMap="provinceResultMap">
		select <include refid="province_column"/>
		from province
		where 1=1
		<if test="provinceID!=null and provinceID!=0">
			and province_id=#{provinceID}
		</if>
		<if test="provinceName!=null and provinceName!=''">
			and province_name=#{provinceName}
		</if>
		<if test="countryID!=null and countryID!=0">
			and country_id=#{countryID}
		</if>
		order by province_id
		<if test="size!=null and size!=0">
			limit offset,size
		</if>
	</select>

</mapper>	