<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="com.jingyunbank.etrade.statics.help.dao.InformationDao">
		<resultMap type="com.jingyunbank.etrade.statics.help.entity.InformationEntity" id="InformationResultMap">
			<id column="id" property="ID"/>
			<result column="name" property="name"/>
		</resultMap>
		<!-- 添加一级菜单中的多个标题 -->
		<insert id="insert" parameterType="com.jingyunbank.etrade.statics.help.entity.InformationEntity">
			insert into information(
			id,name
			)values(
			#{ID},#{name}
			)
		</insert>
		<!-- 通过id查出对应的多个标题 -->
		<select id="selectList"  resultMap="InformationResultMap">
			select id,name from information 
		</select>
	</mapper>