<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.order.postsale.dao.RefundDao">
	<resultMap type="com.jingyunbank.etrade.order.postsale.entity.RefundEntity" id="RefundEntityResultMap">
		<id column="id" property="ID" javaType="String"/>
		<result column="oid" property="OID" javaType="String"/>
		<result column="refundno" property="refundno" jdbcType="BIGINT"/>
		<result column="ogid" property="OGID" javaType="String"/>
		<result column="mid" property="MID" javaType="String"/>
		<result column="uid" property="UID" javaType="String"/>
		<result column="addtime" property="addtime" javaType="java.util.Date"/>
		<result column="status_code" property="statusCode" javaType="String"/>
		<result column="status_name" property="statusName" javaType="String"/>
		<result column="money" property="money" jdbcType="DECIMAL"/>
		<result column="omoney" property="omoney" jdbcType="DECIMAL"/>
		<result column="description" property="description" javaType="String"/>
		<result column="reason" property="reason" javaType="String"/>
		<result column="return_goods" property="returnGoods" javaType="Boolean"/>
		<result column="received" property="received" javaType="Boolean"/>
		
		<result column="orderno" property="orderno" jdbcType="BIGINT"/>
		<result column="gid" property="GID" javaType="String"/>
		<result column="gname" property="gname" javaType="String"/>
		<result column="gpath" property="gpath" javaType="String"/>
		
	</resultMap>
	<sql id="refund_columns">
		id, uid, oid, mid, ogid, addtime, status_code, status_name,
		money, omoney, description, reason, return_goods, refundno, received
	</sql>
	<sql id="goods_join_refund_columns">
		r.id, r.uid, r.oid, r.mid, r.ogid, r.addtime, r.status_code, r.status_name,
		r.money, r.omoney, r.description, r.reason, r.return_goods, r.refundno, r.received,
		o.orderno, og.gid, og.gname, img.thumb_path_1 as gpath
	</sql>
	<insert id="insertOne" parameterType="com.jingyunbank.etrade.order.postsale.entity.RefundEntity">
		insert into refunds
			(<include refid="refund_columns"/>)
		values
			(
				#{ID}, #{UID}, #{OID}, #{MID}, #{OGID}, #{addtime}, #{statusCode}, #{statusName},
				#{money}, #{omoney}, #{description}, #{reason}, #{returnGoods}, #{refundno}, #{received}
			 )
	</insert>
	<update id="updateStatus">
		update refunds
		set status_code = #{status.code}, status_name = #{status.name}
		where id = #{RID}
	</update>
	
	<update id="update" parameterType="com.jingyunbank.etrade.order.postsale.entity.RefundEntity">
		update refunds
		<set>
			<if test="statusCode != null and !''.equals(statusCode)">
				status_code = #{statusCode},
			</if>
			<if test="statusName != null and !''.equals(statusName)">
				status_name = #{statusName},
			</if>
			<if test="money != null">
				money = #{money},
			</if>
			<if test="description != null and !''.equals(description)">
				description = #{description},
			</if>
			<if test="reason != null and !''.equals(reason)">
				reason = #{reason},
			</if>
		</set>
		where id = #{ID}
	</update>
	
	<select id="selectOne" parameterType="String" resultMap="RefundEntityResultMap">
		select <include refid="refund_columns"/> 
		from refunds
		where id = #{rid}
	</select>
	<select id="selectOneByOGID" parameterType="String" resultMap="RefundEntityResultMap">
		select <include refid="refund_columns"/> 
		from refunds
		where ogid = #{ogid}
		order by addtime desc
		limit 1
	</select>
	<select id="selectmWithCondition" resultMap="RefundEntityResultMap">
		select <include refid="goods_join_refund_columns"/> 
		from refunds r
		inner join order_goods og on r.ogid = og.id 
		inner join orders o on r.oid = o.id 
		left join goods_img img on og.gid = img.gid 
		<where>
			<if test="mid != null and !''.equals(mid)">
				r.mid = #{mid}
			</if>
			<if test="statuscode != null and !''.equals(statuscode)">
				and r.status_code = #{statuscode}
			</if>
			<if test="fromdate != null and !''.equals(fromdate)">
				and r.addtime &gt;= #{fromdate}
			</if>
			<if test="keywords != null and !''.equals(keywords)">
				and (
						og.gname like CONCAT('%','${keywords}','%') 
						or 
						o.orderno like CONCAT('%','${keywords}','%')
						or
						r.mid like CONCAT('%','${keywords}','%')
						or
						o.mname like CONCAT('%','${keywords}','%')
					)
			</if>
		</where>
		order by r.addtime desc 
		limit #{from}, #{size}
	</select>
	
	<select id="selectWithCondition" resultMap="RefundEntityResultMap">
		select <include refid="goods_join_refund_columns"/> 
		from refunds r
		inner join order_goods og on r.ogid = og.id 
		inner join orders o on r.oid = o.id 
		left join goods_img img on og.gid = img.gid 
		where 
			r.uid = #{uid}
			<if test="statuscode != null and !''.equals(statuscode)">
				and r.status_code = #{statuscode}
			</if>
			<if test="fromdate != null and !''.equals(fromdate)">
				and r.addtime &gt;= #{fromdate}
			</if>
			<if test="keywords != null and !''.equals(keywords)">
				and (
						og.gname like CONCAT('%','${keywords}','%') 
						or 
						o.orderno like CONCAT('%','${keywords}','%')
						or
						r.mid like CONCAT('%','${keywords}','%')
						or
						o.mname like CONCAT('%','${keywords}','%')
					)
			</if>
		order by r.addtime desc 
		limit #{from}, #{size}
	</select>
</mapper>
