<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jingyunbank.etrade.marketing.rankgroup.dao.RankGroupDao">
<resultMap type="com.jingyunbank.etrade.marketing.rankgroup.entity.RankGroupEntity" id="RankGroupEntityResultMap">
		<id column="id" property="ID" javaType="String"/>
		<result column="leader_uid" property="leaderUID" javaType="String"/>
		<result column="start" property="start" javaType="java.util.Date"/>
		<result column="group_goods_id" property="groupGoodsID" javaType="String"/>
		<result column="status" property="status" javaType="String"/>
		<association property="goods" javaType="com.jingyunbank.etrade.marketing.rankgroup.entity.RankGroupGoodsEntity">
			<id column="gid" property="ID"/>
			<result column="duration" property="duration" jdbcType="INTEGER"/>
			<result column="deadline" property="deadline" javaType="java.util.Date"/>
			<result column="skuid" property="SKUID" javaType="String"/>
		</association>
		<collection property="buyers" javaType="ArrayList" ofType="com.jingyunbank.etrade.marketing.rankgroup.entity.RankGroupUserEntity">
			<id column="buyers_id" property="ID" />
			<result column="buyers_group_id" property="groupID" />
			<result column="buyers_uid" property="UID" />
			<result column="buyers_jointime" property="jointime" />
			<result column="buyers_paid" property="paid" />
			<result column="buyers_status" property="status" />
			
		</collection>
	</resultMap>
	
	<sql id="base_column">
		id,leader_uid,start,group_goods_id,status
	</sql>
	<sql id="group_with_buyers">
		g.id,g.group_goods_id,g.leader_uid,g.`start`,g.`status`,
		gu.id buyers_id,gu.group_id buyers_group_id, gu.jointime buyers_jointime ,gu.uid buyers_uid,gu.paid buyers_paid
	</sql>
	
	<insert id="insert">
		insert into rankgroups (<include refid="base_column"/>) values(#{ID},#{leaderUID},#{start},#{groupGoodsID},#{status})
	</insert>
	
	<select id="selectOne" resultMap="RankGroupEntityResultMap">
		select <include refid="group_with_buyers"/>  
				from rankgroups g LEFT JOIN rankgroup_user gu on g.id=gu.group_id where g.id=#{ID}
	</select>
	
	<update id="updateStatus">
		update rankgroups set status=#{status} where id=#{ID}
	</update>
	
</mapper>
